{% extends "BinidiniWebBundle::layout.html.twig" %}

{% set user = app.user %}
{% set isItMe = true %}
{% set isItCompany = user.type == 2 %}

{% block pageheader %}
    Мои настройки
{% endblock %}

{% block actions %}
    <a href="#" onclick="profile_form.submit()" class="btn btn-primary">Сохранить</a>
{% endblock %}
{% block content %}

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-content">
                        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'profile_form'} }) }}
                        <div class="row m-t-sm">
                            <div class="col-md-12">
                                {{ form_errors(form) }}
                            </div>
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-md-12">
                                <div class="panel blank-panel">
                                    <div class="panel-heading">
                                        <div class="panel-options">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#tab-1" data-toggle="tab">Профиль</a></li>
                                                <li><a href="#tab-2" data-toggle="tab">Оповещения</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-1">
                                                <div class="row">
                                                    <div class="col-md-4 ">
                                                        <a href="#" class="thumbnail" style="width: 208px;height: 208px">
                                                            <div id="thumbnail" class="preview" style="background-image: url('{{ user.imgPath | imagine_filter('photo200x200') }}')"></div>
                                                        </a>
                                                        <span class="btn btn-default btn-file">{{ user.imgPath? 'Изменить фотографию': 'Загрузить фотографию' }} {{ form_widget(form.imgPath,{'id':'imgUpload', 'data': user.imgPath}) }}</span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">
                                                                Тип аккаунта:
                                                            </label>

                                                            <div class="col-sm-5 profile-type">
                                                                {{ form_widget(form.type, {'attr':{'class':'radio radio-inline'}}) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group company-field {{ not isItCompany?'hide' }}">
                                                            <label class="col-sm-3 control-label">Название компании:</label>

                                                            <div class="col-sm-5 no-padding">
                                                                {{ form_widget(form.companyName, {'attr': {'class': 'form-control', 'placeholder': 'Название компании'}, 'data':user.companyName}) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group no-margins company-field {{ not isItCompany?'hide' }}">
                                                            <div class="col-sm-3 control-label">

                                                            </div>
                                                            <div class="col-sm-5 no-padding">
                                                                <h4>Контактное лицо</h4>
                                                                <div class="hr-line-dashed" style="margin-top: 0"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Фамилия:</label>
                                                            <div class="col-sm-5 no-padding">
                                                                {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Фамилия'}, 'data':user.lastname}) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Имя:</label>

                                                            <div class="col-sm-5 no-padding">
                                                                {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Имя'}, 'data':user.firstname}) }}
                                                            </div>
                                                            <div class="col-sm-5 no-padding">
                                                                {{ form_errors(form.firstName) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Отчество:</label>

                                                            <div class="col-sm-5 no-padding">
                                                                {{ form_widget(form.patronymic, {'attr': {'class': 'form-control', 'placeholder': 'Отчество'}, 'data':user.patronymic}) }}
                                                            </div>
                                                            <div class="col-sm-5 no-padding">
                                                                {{ form_errors(form.patronymic) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group company-field {{ not isItCompany?'hide' }}">

                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Email:</label>

                                                            <div class="col-sm-5 no-padding">
                                                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}, 'data':user.email}) }}
                                                            </div>
                                                            <div class="col-sm-5 no-padding">
                                                                {{ form_errors(form.email) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Адрес:</label>

                                                            <div class="col-sm-5 no-padding">
                                                                {{ form_widget(form.address, {'attr': {'class': 'form-control', 'placeholder': 'Адрес'}, 'data':user.address}) }}
                                                            </div>
                                                            <div class="col-sm-5 no-padding">
                                                                {{ form_errors(form.address) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label user-field {{ isItCompany?'hide' }}">О себе:</label>
                                                            <label class="col-sm-3 control-label {{ not isItCompany?'hide' }} company-field">О компании:</label>

                                                            <div class="col-sm-5 no-padding">

                                                                {{ form_widget(form.aboutMe, {'attr': {'class': 'form-control', 'placeholder': 'О себе'}, 'data':user.aboutme}) }}
                                                            </div>
                                                            <div class="col-sm-5 no-padding">
                                                                {{ form_errors(form.aboutMe) }}
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-2">
                                                <div class="row m-t-sm">
                                                    <div class="col-md-6">
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Уведомления для перевозчика</th>
                                                                <th>sms</th>
                                                                <th>email</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>Заявка принята</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.smsBidAcceptNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.emailBidAcceptNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>Заявка отклонена</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.smsBidRejectNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.emailBidRejectNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>Заказ оплачен</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.smsShippingPayNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.emailShippingPayNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td>Заказ отменен</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.smsShippingRefuseNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.emailShippingRefuseNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>5</td>
                                                                <td>Восстребована страховка</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.smsShippingDisputeNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.emailShippingDisputeNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Уведомления для отправителя</th>
                                                                <th>sms</th>
                                                                <th>email</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>

                                                                <td>1</td>
                                                                <td>Заказ принят</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.smsBidAgreeNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.emailBidAgreeNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>Заявка отозвана</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.smsBidRecallNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.emailBidRecallNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>Заказ доставлен</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.smsShippingDeliverNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.emailShippingDeliverNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td>Заказ успешно завершен</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.smsShippingCompleteNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.emailShippingCompleteNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>5</td>
                                                                <td>Потребована оплата</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.smsShippingDebateNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                                            {{ form_widget(form.emailShippingDebateNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                                        </div>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="col-md-12">
                                                        Отметьте те уведомления, которые Вы хотите получать по смс и электронной почте, в качестве отправителя и перевозчика.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_rest(form) }}{{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link href="{{ asset('bundles/binidiniweb/css/plugins/iCheck/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/binidiniweb/js/plugins/iCheck/icheck.min.js') }}"></script>


    <!-- iCheck -->
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });


        });
    </script>


    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#thumbnail').css("background-image", "url(" + this.result + ")");
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imgUpload").change(function () {
            readURL(this);
        });
        $(".profile-type input").change(function () {
            $('.company-field').toggleClass('hide');
            $('.user-field').toggleClass('hide');
        });
    </script>

{% endblock %}



