{% extends "BinidiniWebBundle::layout.html.twig" %}

{% set user = app.user %}
{% set isItMe = true %}
{% set isItCompany = user.type == 2 %}

{% block pageheader %}
    Мои настройки
{% endblock %}

{% block actions %}
    <a href="#" onclick="profile_form.submit()" class="btn btn-primary">Сохранить</a>
{% endblock %}
{% block content %}

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-content">
                        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'profile_form'} }) }}
                        <div class="row m-t-sm">
                            <div class="col-sm-12">
                                {{ form_errors(form) }}
                            </div>
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-sm-12">
                                <div class="panel blank-panel">
                                    <div class="panel-heading">
                                        <div class="panel-options">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#tab-1" data-toggle="tab">Профиль</a></li>
                                                <li><a href="#tab-2" data-toggle="tab">Оповещения</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-1">
                                                <div class="row">
                                                    <div class="col-sm-4 ">
                                                        {{ form_errors(form.imgPath) }}
                                                        <img alt="image" class="img-responsive" id="photo"
                                                             src="{{ user.imgPath | imagine_filter('photo600x600') }}">
                                                        <a class="btn-file">{{ user.imgPath? 'Изменить фотографию': 'Загрузить фотографию' }} {{ form_widget(form.imgPath,{'id':'imgUpload', 'data': user.imgPath}) }}</a>
                                                        <div class="help-block">
                                                            Вы можете загрузить изображение в формате JPG, GIF или PNG.
                                                            Если у Вас возникают проблемы с загрузкой, попробуйте выбрать фотографию меньшего размера.
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">
                                                                Вы:
                                                            </label>

                                                            <div class="col-sm-5 profile-type">
                                                                {{ form_widget(form.type, {'attr':{'class':'radio i-checks'}}) }}
                                                                {{ form_errors(form.type) }}
                                                            </div>

                                                        </div>
                                                        <div class="form-group company-field {{ not isItCompany?'hide' }}">
                                                            <label class="col-sm-3 control-label">Название компании:</label>

                                                            <div class="col-sm-5 no-padding">
                                                                {{ form_widget(form.companyName, {'attr': {'class': 'form-control', 'placeholder': 'Название компании'}, 'data':user.companyName}) }}
                                                                {{ form_errors(form.companyName) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group no-margins company-field {{ not isItCompany?'hide' }}">
                                                            <div class="col-sm-3 control-label">

                                                            </div>
                                                            <div class="col-sm-5 no-padding">
                                                                <h4>Контактное лицо</h4>
                                                                <div class="hr-line-dashed" style="margin-top: 0"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Фамилия:</label>
                                                            <div class="col-sm-5 no-padding">
                                                                {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Фамилия'}, 'data':user.lastname}) }}
                                                                {{ form_errors(form.lastName) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Имя:</label>

                                                            <div class="col-sm-5 no-padding">
                                                                {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'Имя'}, 'data':user.firstname}) }}
                                                                {{ form_errors(form.firstName) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Отчество:</label>

                                                            <div class="col-sm-5 no-padding">
                                                                {{ form_widget(form.patronymic, {'attr': {'class': 'form-control', 'placeholder': 'Отчество'}, 'data':user.patronymic}) }}
                                                                {{ form_errors(form.patronymic) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group company-field {{ not isItCompany?'hide' }}">

                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Email:</label>

                                                            <div class="col-sm-5 no-padding">
                                                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}, 'data':user.email}) }}
                                                                {{ form_errors(form.email) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Адрес:</label>

                                                            <div class="col-sm-5 no-padding">
                                                                {{ form_widget(form.address, {'attr': {'class': 'form-control', 'placeholder': 'Адрес'}, 'data':user.address}) }}
                                                                {{ form_errors(form.address) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label user-field {{ isItCompany?'hide' }}">О себе:</label>
                                                            <label class="col-sm-3 control-label {{ not isItCompany?'hide' }} company-field">О компании:</label>

                                                            <div class="col-sm-5 no-padding">

                                                                {{ form_widget(form.aboutMe, {'attr': {'class': 'form-control', 'placeholder': 'О себе'}, 'data':user.aboutme}) }}
                                                                {{ form_errors(form.aboutMe) }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-4">
                                                                <button type="button" class="btn btn-link"
                                                                        data-toggle="modal" data-target="#myModal">
                                                                    Сменить пароль
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-2">
                                                <div class="row m-t-sm">
                                                    <div class="col-sm-6">
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Уведомления для перевозчика</th>
                                                                <th>sms</th>
                                                                <th>email</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>Заявка принята</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.smsBidAcceptNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.emailBidAcceptNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>Заявка отклонена</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.smsBidRejectNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.emailBidRejectNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>Заказ оплачен</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.smsShippingPayNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.emailShippingPayNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td>Заказ отменен</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.smsShippingRefuseNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.emailShippingRefuseNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>5</td>
                                                                <td>Восстребована страховка</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.smsShippingDisputeNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.emailShippingDisputeNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Уведомления для отправителя</th>
                                                                <th>sms</th>
                                                                <th>email</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>

                                                                <td>1</td>
                                                                <td>Новая заявка</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.smsBidCreateNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.emailBidCreateNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>Заявка отозвана</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.smsBidRecallNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.emailBidRecallNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>

                                                                <td>3</td>
                                                                <td>Заказ принят</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.smsBidAgreeNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.emailBidAgreeNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td>Заказ доставлен</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.smsShippingDeliverNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.emailShippingDeliverNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>5</td>
                                                                <td>Заказ успешно завершен</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.smsShippingCompleteNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.emailShippingCompleteNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>6</td>
                                                                <td>Потребована оплата</td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.smsShippingDebateNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label class="checkbox-inline i-checks">
                                                                        {{ form_widget(form.emailShippingDebateNotification, {'attr': {'style': 'position: absolute; opacity: 0;'}}) }}
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        Отметьте те уведомления, которые Вы хотите получать по смс и электронной почте, в качестве отправителя и перевозчика.
                                                        Чтобы получать уведомления по электронной почте, Ваш email должен быть верифицирован.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_rest(form) }}{{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <form action="{{ path('binidini_core_change_password') }}" method="POST"
                  class="fos_user_change_password form-horizontal" id="password-reset">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                    class="sr-only">Закрыть</span></button>
                        <h4 class="modal-title">Сменить пароль</h4>

                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Текущий пароль:</label>

                            <div class="col-sm-8">
                                <input type="password" class="form-control" name="current_password"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Новый пароль:</label>

                            <div class="col-sm-8">
                                <input type="password" class="form-control" name="new_password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Повторите пароль:</label>

                            <div class="col-sm-8">
                                <input type="password" class="form-control" name="new_password_confirm"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-8">
                                <span class="addLoader">

                                </span>
                                <p class="text-error"></p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Изменить пароль"/>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/binidiniweb/css/plugins/iCheck/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/binidiniweb/js/plugins/iCheck/icheck.min.js') }}"></script>


    <!-- iCheck -->
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });


        });
    </script>


    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#photo").attr("src",this.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imgUpload").change(function () {
            readURL(this);
        });

        $('.profile-type input').on('ifChanged', function(event) {
            if (this.value == 1) {
                $('.company-field').addClass("hide");
                $('.user-field').removeClass("hide");
            } else  {
                $('.company-field').removeClass("hide");
                $('.user-field').addClass("hide");
            }
        });
        var passwordSubmitted = false;
        $('#password-reset').submit(function (e) {
            e.preventDefault();
            $('#myModal .text-error').html('');
            if (!passwordSubmitted) {
                passwordSubmitted = true;
                loader.show('#myModal .addLoader');
                $.post($(this).attr('action'), $(this).serialize()).done(
                        function (data) {
                            if (data.status) {
                                $('#myModal').modal('hide');
                                flashback.add('success', 'Пароль успешно изменен');
                            } else {
                                passwordSubmitted = false;
                                loader.hide('#myModal .addLoader');
                                $('#myModal .text-error').html(data.error)

                            }
                        }
                ).fail(function () {
                            passwordSubmitted = false;
                        })
            }
        });


    </script>

{% endblock %}



