{% extends "BinidiniWebBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/binidiniweb/css/plugins/raty/jquery.raty.css') }}" rel="stylesheet">
{% endblock %}

{% set isItMe = user.id == app.user.id %}
{% set isItCompany = user.type == 2 %}
{% block pagetitle %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Профиль</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>О {{ isItCompany? 'компании': 'пользователе' }}</h5>
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <img alt="image" class="img-responsive"
                                 src="{{ user.imgPath | imagine_filter('photo590x400') }}">
                        </div>
                        <div class="ibox-content profile-content">
                            <h4><strong>{{ isItCompany? user.name: user.Fio }}</strong></h4>
                            {% if user.address %}
                            <p><i class="fa fa-map-marker"></i> {{ user.address }}</p>
                            {% endif %}
                            {% if isItCompany %}
                                <h5>Контактное лицо</h5>
                                <h5><strong>{{ user.Fio }}</strong></h5>
                            {% endif %}
                            {% if user.email %}
                                <p><i class="fa fa-envelope"></i> <a
                                            href="mailto:{{ user.email }}"> {{ user.email }}</a></p>
                            {% endif %}
                            <p><i class="fa fa-phone-square"></i><a href="tel:+7{{ user.username }} "> +7 {{ user.username }}</a>
                            </p>
                            {% if user.aboutMe %}
                                <h5>О {{ isItCompany? 'компании': 'себе' }}</h5>
                                <p>{{ user.aboutMe | nl2br }}</p>
                            {% endif %}
                            {% if user.carrierRating or user.senderRating %}
                            <div class="row m-t-lg">
                                <div class="col-md-12">
                                    {% if user.senderRating %}
                                    <div class="widget style1 navy-bg">
                                        <div class="row vertical-align">
                                            <div class="col-xs-3 text-left">
                                                <h4>Рейтинг заказчика:</h4>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <h2 class="font-bold">{{ user.senderRating}}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if user.carrierRating %}
                                    <div class="widget style1 navy-bg">
                                        <div class="row vertical-align">
                                            <div class="col-xs-3 text-left">
                                                <h4>Курьерский рейтинг:</h4>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <h2 class="font-bold">{{ user.carrierRating}}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Отзывы</h5>
                    </div>
                    <div class="ibox-content">
                        <div>
                            {% render path('binidini_core_user_to_review_index', {'user_id': user.id}) %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/binidiniweb/js/plugins/raty/jquery.raty.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ratyInitialize();
        });
    </script>
{% endblock %}