<div class="panel-body">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="">
                        <i class="fa fa-search"></i>&nbsp;Поиск</a>
                </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                <div class="panel-body">
                    <form method="GET" action="{{ path('binidini_admin_shipping') }}" id="search-form" name="search-form" class="form-horizontal small">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Номер</label>

                            <div class="col-sm-5">
                                <input data-valid='number' type="text" class="form-control" name="id" placeholder="заказа" value="{{ app.request.get('id')?:'' }}">
                            </div>
                            <div class="col-sm-5">
                                <select class="form-control m-b" name="state">
                                    <option value="">Статус</option>
                                    <option value="init">Добавлен</option>
                                    <option value="new">Новый</option>
                                    <option value="accepted">Принят</option>
                                    <option value="delivered">Отправлен</option>
                                    <option value="paid">Оплачен</option>
                                    <option value="completed">Завершен</option>
                                    <option value="rejected">Отклонен</option>
                                    <option value="canceled">Отменен</option>
                                    <option value="conflict">Спорный</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Цена</label>

                            <div class="col-sm-5">
                                <input data-valid='number' value="{{ app.request.get('deliveryPriceFrom')?:'' }}" type="text" class="form-control" name="deliveryPriceFrom" placeholder="от">
                            </div>
                            <div class="col-sm-5">
                                <input data-valid='number' value="{{ app.request.get('deliveryPriceTo')?:'' }}" type="text" class="form-control" name="deliveryPriceTo" placeholder="до" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Страховка</label>

                            <div class="col-sm-5">
                                <input data-valid='number' value="{{ app.request.get('insurancePriceFrom')?:'' }}" type="text" class="form-control" name="insurancePriceFrom" placeholder="от">
                            </div>
                            <div class="col-sm-5">
                                <input data-valid='number' value="{{ app.request.get('insurancePriceTo')?:'' }}" type="text" class="form-control" name="insurancePriceTo" placeholder="до" >
                            </div>
                        </div>

                        <div class="form-group input-daterange">
                            <label class="col-sm-2 control-label">Прибытие</label>

                            <div class="col-sm-5">
                                <input type="text" value="{{ app.request.get('deliveryTimeFrom')?:'' }}" class="form-control" name="deliveryTimeFrom" placeholder="с">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" value="{{ app.request.get('deliveryTimeTo')?:'' }}" class="form-control" name="deliveryTimeTo" placeholder="по">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>