{% if app.request.get('tab') in ['message','bid', 'history', 'review'] %}
    {% set activeTab = app.request.get('tab') %}
{% elseif shipping.isNew() %}
    {% set activeTab = 'bid' %}
{% elseif (shipping.canHasReview()) %}
    {% set activeTab = 'review' %}
{% else %}
    {% set activeTab = 'message' %}
{% endif %}

<div class="row m-t-sm">
    <div class="col-lg-12">
        <div class="panel blank-panel">
            <div class="panel-heading">
                <div class="panel-options">
                    <ul class="nav nav-tabs">
                        <li class="{{ activeTab == 'message'? 'active': '' }}">
                            <a href="#tab-1" data-toggle="tab">Сообщения</a>
                        </li>
                        <li class="{{ activeTab == 'bid'? 'active': '' }}">
                            <a href="#tab-2" data-toggle="tab">Заявки</a>
                        </li>
                        <li class="{{ activeTab == 'history'? 'active': '' }}">
                            <a href="#tab-3" data-toggle="tab">История</a>
                        </li>
                        {% if shipping.canHasReview() %}
                            <li class="{{ activeTab == 'review'? 'active': '' }}">
                                <a href="#tab-4" data-toggle="tab">Отзывы</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane {{ activeTab == 'message'? 'active': '' }}" id="tab-1">
                        {{ include('BinidiniWebBundle::Frontend/Shipping/show/tab_message.html.twig') }}
                    </div>
                    <div class="tab-pane {{ activeTab == 'bid'? 'active': '' }}" id="tab-2">
                        {{ include('BinidiniWebBundle::Frontend/Shipping/show/tab_bid.html.twig') }}
                    </div>
                    <div class="tab-pane {{ activeTab == 'history'? 'active': '' }}" id="tab-3">
                        {{ include('BinidiniWebBundle::Frontend/Shipping/show/tab_history.html.twig') }}
                    </div>
                    {% if shipping.canHasReview() %}
                        <div class="tab-pane {{ activeTab == 'review'? 'active': '' }}" id="tab-4">
                            {{ include('BinidiniWebBundle::Frontend/Shipping/show/tab_review.html.twig') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
