{% import 'BinidiniWebBundle:Frontend/Macros:page.html.twig' as page %}

{% extends 'BinidiniWebBundle::Backend/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/binidiniweb/css/plugins/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
{% endblock %}

{% block pageheader %}Все заказы{% endblock %}

{% block actions %}
        <a href="#" id="search-form-submit" class="btn btn-primary">Обновить</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox float-e-margins">

                    <div class="ibox-title">
                        {% if shippings.nbresults > 0 %}
                            {{ page.paging(shippings) }}

                            <div class="ibox-tools">

                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    по {{ shippings.maxperpage() }} записей
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="{{ path('binidini_admin_shipping', {'paginate': 15, 'state': app.request.get('state') } ) }}">по
                                            15 записей</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('binidini_admin_shipping', {'paginate': 30, 'state': app.request.get('state') } ) }}">по
                                            30 записей</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('binidini_admin_shipping', {'paginate': 60, 'state': app.request.get('state') } ) }}">по
                                            60 записей</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('binidini_admin_shipping', {'paginate': 90, 'state': app.request.get('state') } ) }}">по
                                            90 записей</a>
                                    </li>
                                </ul>

                            </div>
                        {% else %}
                            заказов нет
                        {% endif %}
                    </div>
                    <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-8">
                                   {% include 'BinidiniWebBundle::Backend/Shipping/index/search_form.html.twig' %}
                                </div>
                                <div class="col-sm-4 text-right">
                                    {{ page.pagination(shippings) }}
                                </div>
                            </div>

                        {% if shippings.nbresults > 0 %}

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>{{ sylius_resource_sort('id', 'Номер', 'desc') }}</th>
                                        <th>Что</th>
                                        <th>Кто</th>
                                        <th>Откуда</th>
                                        <th>Куда</th>
                                        <th>{{ sylius_resource_sort('deliveryDatetime', 'Прибытие', 'desc') }}</th>
                                        <th>Статус</th>
                                        <th class="text-right">Цена</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for shipping in shippings %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('binidini_admin_shipping_show', {'id': shipping.id}) }}">{{ shipping.id }}</a>
                                            </td>
                                            <td>{{ shipping.name[:24] }}</td>
                                            <td>
                                                <a href="{{ path('binidini_admin_user_show', {'id': shipping.sender.id}) }}">{{ shipping.sender.name }}</a>
                                            </td>

                                            <td> <span >{{ shipping.pickupAddress[:64] }}</span></td>
                                            <td>{{ shipping.deliveryAddress[:64] }}</td>
                                            <td>{{ shipping.deliveryDatetime | date('d.m H:i') }}</td>
                                            <td>
                                                <span class="text-{{ shipping.state }}">{{ ('binidini.shipping.state.' ~ shipping.state) | trans }}</span>
                                            </td>
                                            <td class="text-right">{{ shipping.deliveryPrice | price }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                </div>

                                <div class="col-sm-6 text-right">
                                    {{ page.pagination(shippings) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/binidiniweb/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/plugins/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $('#search-form-submit').click(function(e){
            var $searchForm = $('#search-form');
            document.location.href = $searchForm.attr('action') + '?' + $searchForm.serialize();
        });
        $('.input-daterange input').datetimepicker({locale: 'ru', sideBySide: true, format: 'YYYY-MM-DD HH:mm:ss'});
    </script>
{% endblock %}
