{% extends 'BinidiniWebBundle::Backend/layout.html.twig' %}

{% if shipping.canHasReview() %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('bundles/binidiniweb/css/plugins/raty/jquery.raty.css') }}" rel="stylesheet">
    {% endblock %}
{% endif %}

{% block pageheader %}Детализация заказа{% endblock %}
{% block actions %}
    {% if shipping.state == 'conflict' %}
        <a href="{{ path('binidini_admin_shipping_resolve', {'id': shipping.id }) }}"
            class="btn btn-warning" id="resolve">Разрешить</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="m-b-md">
                                    <span class="badge badge-{{ shipping.state }} pull-right"> {{ ('binidini.shipping.state.' ~ shipping.state) | trans }}</span>
                                    <h2>{{ shipping.name }}</h2>
                                </div>
                                <dl class="dl-horizontal">
                                    <dt>Оплата:</dt>
                                    <dd style="padding-bottom: 10px">
                                        {{ shipping.deliveryPrice | price }}
                                        {% if shipping.state=='conflict' %}
                                        <span class="inline">
                                            <select class="form-control" style="height: 20px; padding-top: 0;padding-bottom: 0;" id="sel-payment" name="payment">
                                                <option value="none" selected="selected">Ничего не делать</option>
                                                <option value="sender">Оставить отправителю</option>
                                                <option value="carrier">Передать перевозчику</option>
                                            </select>
                                        </span>
                                        {% endif %}
                                        {% if shipping.paymentGuarantee %}
                                            <span class="badge badge-primary"><i class="fa fa-thumbs-up"></i> гарантирована</span>
                                        {% endif %}
                                    </dd>
                                    <dt>Страховка:</dt>
                                    <dd>{{ shipping.insurance | price }}
                                        {% if shipping.state=='conflict' %}
                                        <span class="inline">
                                            <select class="form-control" style="height: 20px; padding-top: 0;padding-bottom: 0" id="sel-insurance" name="insurance">
                                                <option value="none">Ничего не делать</option>
                                                <option value="carrier">Оставить перевозчику</option>
                                                <option value="sender">Передать отправителю</option>
                                            </select>
                                        </span>
                                        {% endif %}
                                    </dd>

                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-7">
                                <dl class="dl-horizontal">

                                    <dt>Откуда:</dt>
                                    <dd>{{ shipping.pickupAddress }}</dd>
                                    <dt>Куда:</dt>
                                    <dd>{{ shipping.deliveryAddress }}</dd>
                                    <dt>Отправитель:</dt>
                                    <dd>
                                        <a href="{{ path('binidini_core_profile_show', {'id': shipping.sender.id}) }}">{{ shipping.sender.name }}</a>
                                        {% if (shipping.carrier is not empty) and (shipping.carrier.id == app.user.id) %}
                                            {{ shipping.sender.mobilephone }}
                                        {% endif %}
                                    </dd>
                                    <dt>Перевозчик:</dt>
                                    <dd>
                                        {% if shipping.carrier is not empty %}
                                                <a href="{{ path('binidini_core_profile_show', {'id': shipping.carrier.id} ) }}">{{ shipping.carrier.name }}</a>
                                                {% if shipping.sender.id == app.user.id %}
                                            {{ shipping.sender.mobilephone }}
                                        {% endif %}
                                            {% endif %}
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-sm-5" id="cluster_info">
                                <dl class="dl-horizontal">

                                    <dt>Прибытие:</dt>
                                    <dd>{{ shipping.deliveryDatetime | date('d.m.y H:i') }} крайнее время</dd>
                                    <dt>Создан:</dt>
                                    <dd>{{ shipping.createdAt | date('d.m.y H:i') }}</dd>
                                    <dt>Вес:</dt>
                                    <dd>{{ shipping.weight | default('~') | weight }}</dd>
                                    <dt>Габариты:</dt>
                                    <dd>{{ shipping.x | default(0) }}x{{ shipping.y | default(0) }}x{{ shipping.z | default(0) }} см
                                    </dd>

                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <dl class="dl-horizontal">
                                    <dt>Дополнительно:</dt>
                                    <dd>{{ shipping.description |nl2br }}</span></dd>
                                </dl>
                            </div>
                        </div>
                        {% if shipping.state in ['new', 'accepted', 'dispatched', 'on_way', 'delivered', 'paid', 'completed'] %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <dl class="dl-horizontal">
                                        <dt>Прогресс:</dt>
                                        <dd>
                                            <div class="progress progress-striped active">
                                                <div style="width: 14%"
                                                     class="progress-bar {{ (shipping.state == 'new') ? 'progress-bar-success' : '' }}">
                                                    <span>новый</span>
                                                </div>
                                                <div style="width: 14%"
                                                     class="progress-bar {{ (shipping.state == 'accepted') ? 'progress-bar-success' : '' }}">
                                                    <span>принят</span>
                                                </div>
                                                <div style="width: 14%"
                                                     class="progress-bar {{ (shipping.state == 'dispatched') ? 'progress-bar-success' : '' }}">
                                                    <span>выдан</span>
                                                </div>
                                                <div style="width: 14%"
                                                     class="progress-bar {{ (shipping.state == 'on_way') ? 'progress-bar-success' : '' }}">
                                                    <span>в пути</span>
                                                </div>
                                                <div style="width: 14%"
                                                     class="progress-bar {{ (shipping.state == 'delivered') ? 'progress-bar-success' : '' }}">
                                                    <span>доставлен</span>
                                                </div>
                                                <div style="width: 14%"
                                                     class="progress-bar {{ (shipping.state == 'paid') ? 'progress-bar-success' : '' }}">
                                                    <span>оплачен</span>
                                                </div>
                                                <div style="width: 16%"
                                                     class="progress-bar {{ (shipping.state == 'completed') ? 'progress-bar-success' : '' }}">
                                                    <span>завершен</span>
                                                </div>
                                            </div>

                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        {% endif %}
                        {{ include('BinidiniWebBundle::Backend/Shipping/show/tabs.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if shipping.canHasReview() %}
        <script src="{{ asset('bundles/binidiniweb/js/plugins/raty/jquery.raty.js') }}"></script>
        <script src="{{ asset('bundles/binidiniweb/js/review.js') }}"></script>
    {% endif %}
    <script type="text/javascript">
        var successCallback = function (href) {
            if (href == '#tab-4') {
                review.setReadonlyRating('.rating');
            }
        };
        var preLoadCallback = function (obj) {
            if ($(obj).attr('href') == '#tab-4') {
                review.setRatingControl('#raty', function (number) {
                    $('#input-rating').val(number);
                });
            }
        };
        tabAjax.reloadActiveTab (successCallback, preLoadCallback);
        tabAjax.initTab (successCallback, preLoadCallback);
        $('#resolve').click(function(e){
            e.preventDefault();
            var param = {
                    insurance: $('#sel-insurance').val(),
                    payment: $('#sel-payment').val()
            };
            document.location.href  = $(this).attr('href') +'?'+ $.param(param);
        });
    </script>
{% endblock %}