{% import 'BinidiniWebBundle:Frontend/Macros:page.html.twig' as page %}


{% extends 'BinidiniWebBundle::Backend/layout.html.twig' %}

{% block pageheader %}Пользователи{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/binidiniweb/css/plugins/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
{% endblock %}

{% block actions %}
    <a href="#" id="search-form-submit" class="btn btn-info">Обновить</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox float-e-margins">

                    <div class="ibox-title">
                        {% if users.nbresults > 0 %}
                            Заказы {{ page.paging(users) }}

                            <div class="ibox-tools">

                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    по {{ users.maxperpage() }} записей
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="{{ path('binidini_admin_user_index', {'paginate': 10, 'state': app.request.get('state') } ) }}">по
                                            10 записей</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('binidini_admin_user_index', {'paginate': 25, 'state': app.request.get('state') } ) }}">по
                                            25 записей</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('binidini_admin_user_index', {'paginate': 50, 'state': app.request.get('state') } ) }}">по
                                            50 записей</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('binidini_admin_user_index', {'paginate': 100, 'state': app.request.get('state') } ) }}">по
                                            100 записей</a>
                                    </li>
                                </ul>

                            </div>
                        {% else %}
                            заказов нет
                        {% endif %}
                    </div>
                    <div class="ibox-content">

                            <div class="row">
                                <div class="col-sm-8">
                                    {% include 'BinidiniWebBundle::Backend/User/index/search_form.html.twig' %}
                                </div>
                                <div class="col-sm-4 text-right">
                                    {{ page.pagination(users) }}
                                </div>
                            </div>

                        {% if users.nbresults > 0 %}

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>{{ sylius_resource_sort('id', '#', 'desc') }}</th>
                                        <th>Телефон</th>
                                        <th>Название</th>
                                        <th>email</th>
                                        <th>Был</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>
                                                <a href="#">{{ user.id }}</a>
                                            </td>
                                            <td>{{ user.username }}</td>
                                            <td> {{ user.name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.lastlogin | date('d.m H:i') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                </div>

                                <div class="col-sm-6 text-right">
                                    {{ page.pagination(users) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/binidiniweb/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/plugins/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $('#search-form-submit').click(function(e){
            var $searchForm = $('#search-form');
            document.location.href = $searchForm.attr('action') + '?' + $searchForm.serialize();
        });
        $('.input-daterange input').datetimepicker({locale: 'ru', sideBySide: true, format: 'YYYY-MM-DD HH:mm:ss'});
    </script>
{% endblock %}