{% extends 'BinidiniWebBundle::layout.html.twig' %}

{% block pagetitle %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Новая отправка</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Создание нового заказа</h5>

                            </div>

                            <div class="ibox-content">

                                {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                                {{ form_errors(form) }}

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Что*</label>

                                    <div class="col-lg-10">
                                        {{ form_errors(form.name) }}
                                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Коротко, что нужно перевезти'}}) }}
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Откуда*</label>

                                    <div class="col-lg-10">
                                        {{ form_errors(form.pickupAddress) }}
                                        {{ form_widget(form.pickupAddress, {'id': 'pickup-address', 'attr': {'class': 'form-control', 'placeholder': 'Адрес отправки'}}) }}
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Отправление*</label>

                                    <div class="col-lg-3">
                                        {{ form_widget(form.pickupDatetime, {'attr': {'class': 'form-control', 'placeholder': 'дд.мм.гг чч:мм', 'data-mask': '99.99.99 99:99'}}) }}
                                    </div>
                                    <div class="col-lg-7">
                                        {{ form_errors(form.pickupDatetime) }}
                                        <span class="help-block m-b-none">Крайнее время отправления. Например, 23.11.15 02:45</span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Куда*</label>

                                    <div class="col-lg-10">
                                        {{ form_errors(form.deliveryAddress) }}
                                        {{ form_widget(form.deliveryAddress, {'id': 'delivery-address', 'attr': {'class': 'form-control', 'placeholder': 'Адрес назначения'}}) }}
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Прибытие*</label>

                                    <div class="col-lg-3">
                                        {{ form_widget(form.deliveryDatetime, {'attr': {'class': 'form-control', 'placeholder': 'дд.мм.гг чч:мм', 'data-mask': '99.99.99 99:99'}}) }}
                                    </div>
                                    <div class="col-lg-7">
                                        {{ form_errors(form.deliveryDatetime) }}
                                        <span class="help-block m-b-none">Крайнее время прибытия. Например, 24.11.15 16:00</span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Цена*</label>

                                    <div class="col-lg-2">
                                        {{ form_widget(form.deliveryPrice, {'attr': {'class': 'form-control', 'placeholder': 'руб.'}}) }}
                                    </div>
                                    <div class="col-lg-8">
                                        {{ form_errors(form.deliveryPrice) }}
                                        <span class="help-block m-b-none">Сумма в рублях, которую Вы платите за доставку</span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Гарантия*</label>

                                    <div class="col-lg-2">
                                        {{ form_widget(form.guaranteeCost, {'attr': {'class': 'form-control', 'placeholder': 'руб.'}}) }}
                                    </div>
                                    <div class="col-lg-8">
                                        {{ form_errors(form.guaranteeCost) }}
                                        <span class="help-block m-b-none">Депозит в рублях, требуемый от перевозчика в качестве страховки</span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Вес</label>

                                    <div class="col-lg-2">
                                        {{ form_widget(form.weight, {'attr': {'class': 'form-control', 'placeholder': 'кг'}}) }}
                                    </div>
                                    <div class="col-lg-8">
                                        {{ form_errors(form.weight) }}
                                        <span class="help-block m-b-none">Вес посылки</span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Размер</label>

                                    <div class="col-lg-2">
                                        {{ form_widget(form.x, {'attr': {'class': 'form-control', 'placeholder': 'длина'}}) }}
                                    </div>
                                    <div class="col-lg-2">
                                        {{ form_widget(form.y, {'attr': {'class': 'form-control', 'placeholder': 'ширина'}}) }}
                                    </div>
                                    <div class="col-lg-2">
                                        {{ form_widget(form.z, {'attr': {'class': 'form-control', 'placeholder': 'высота'}}) }}
                                    </div>
                                    <div class="col-lg-4">
                                        {{ form_errors(form.x) }}
                                        {{ form_errors(form.y) }}
                                        {{ form_errors(form.z) }}
                                        <span class="help-block m-b-none">в сантиметрах</span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Дополнительно</label>

                                    <div class="col-lg-10">
                                        {{ form_errors(form.description) }}
                                        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'информация, необходимая перевозчику'}}) }}
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <button class="btn btn-primary pull-right" type="submit">Подать заявку</button>
                                    </div>
                                </div>

                                {{ form_rest(form) }}

                                {{ form_end(form) }}


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/binidiniweb/js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>

    <script type="text/javascript">
        ymaps.ready(init);


        function init(){
            var suggestView = new ymaps.SuggestView('pickup-address');
            var suggestView = new ymaps.SuggestView('delivery-address');


        }
    </script>

{% endblock %}