{% extends 'BinidiniWebBundle::layout.html.twig' %}

{% block pageheader %}Новый заказ{% endblock %}

{% block actions %}
    <a href="#" onclick="submit_button.click()" class="btn btn-primary">Cделать заказ</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Создание нового заказа</h5>

                            </div>

                            <div class="ibox-content">

                                {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'shipping_form'  }, 'action': path('binidini_core_shipping_new') }) }}
                                {{ form_errors(form) }}

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Что*</label>

                                    <div class="col-sm-10">
                                        {{ form_errors(form.name) }}
                                        {{ form_widget(form.name, {'id': 'what', 'attr': {'class': 'form-control', 'placeholder': 'Коротко, что нужно перевезти', 'list': 'defaults'}}) }}
                                        <datalist id="defaults">
                                            <option value="Документы">
                                            <option value="Лекарства">
                                            <option value="Одежда">
                                            <option value="Животные">
                                            <option value="Мебель">
                                        </datalist>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Откуда*</label>

                                    <div class="col-sm-10">
                                        {{ form_errors(form.pickupAddress) }}
                                        {{ form_widget(form.pickupAddress, {'id': 'pickup-address', 'attr': {'class': 'form-control', 'placeholder': 'Адрес отправки'}}) }}
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Куда*</label>

                                    <div class="col-sm-10">
                                        {{ form_errors(form.deliveryAddress) }}
                                        {{ form_widget(form.deliveryAddress, {'id': 'delivery-address', 'attr': {'class': 'form-control', 'placeholder': 'Адрес назначения'}}) }}
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group date">
                                    <label class="col-sm-2 control-label">Прибытие*</label>

                                    <div class="col-sm-5">
                                        {{ form_widget(form.deliveryDatetime, {'id': 'datetimepicker1', 'attr': {'class': 'form-control', 'placeholder': 'дд.мм.гг чч:мм'}}) }}
                                    </div>
                                    <div class="col-sm-5">
                                        {{ form_errors(form.deliveryDatetime) }}
                                        <span class="help-block m-b-none">Крайнее время прибытия</span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Цена*</label>

                                    <div class="col-sm-5">
                                        {{ form_widget(form.deliveryPrice, {'attr': {'class': 'form-control', 'placeholder': 'Стоимость доставки в рублях', 'min': 0}}) }}
                                    </div>
                                    <div class="col-sm-5">
                                        {{ form_errors(form.deliveryPrice) }}
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                                   aria-expanded="true" class="collapsed">Необязательные параметры
                                                    заказа</a>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
                                                <div class="panel-body">

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Гарантия</label>

                                                        <div class="col-sm-2">
                                                            {{ form_widget(form.paymentGuarantee, {'attr': {'class': 'checkbox-inline i-checks', 'style': 'position: absolute; opacity: 0;'}}) }}
                                                        </div>
                                                        <div class="col-sm-8">
                                                            {{ form_errors(form.paymentGuarantee) }}
                                                            <span class="help-block m-b-none">
                                                                Гарантия оплаты перевозки.
                                                                Сумма, равная стоимости перевозки, замораживается со счета отправителя и возвращается после подтверждения оплаты перевозчиком.
                                                                Не ставьте галку, если у Вас нулевой баланс.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Страховка</label>

                                                        <div class="col-sm-2">
                                                            {{ form_widget(form.insurance, {'attr': {'class': 'form-control', 'placeholder': 'руб.', 'min': 0}}) }}
                                                        </div>
                                                        <div class="col-sm-8">
                                                            {{ form_errors(form.insurance) }}
                                                            <span class="help-block m-b-none">
                                                                Депозит в рублях, требуемый от перевозчика в качестве страховки на случай утраты или порчи посылки.
                                                                Сумма, равная страховке, замораживается со счета перевозчика и возвращается после подтверждения отправителем доставки.
                                                                Не устанавливайте страховку, если она не требуется или осуществляется вне системы Титимити.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Код подтверждения</label>

                                                        <div class="col-sm-2">
                                                            {{ form_widget(form.deliveryCode, {'attr': {'class': 'checkbox-inline i-checks', 'style': 'position: absolute; opacity: 0;'}}) }}
                                                        </div>
                                                        <div class="col-sm-8">
                                                            {{ form_errors(form.deliveryCode) }}
                                                            <span class="help-block m-b-none">
                                                                Код подтверждения доставки.
                                                                Курьер должен получить код при передаче заказа получателю и ввести его в систему. Это является подтверждением доставки заказа.
                                                                Не ставьте галку, если Вам не нужен данный механизм подтверждения.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Вес</label>

                                                        <div class="col-sm-2">
                                                            {{ form_widget(form.weight, {'attr': {'class': 'form-control', 'placeholder': 'кг', 'min': 0}}) }}
                                                        </div>
                                                        <div class="col-sm-8">
                                                            {{ form_errors(form.weight) }}
                                                            <span class="help-block m-b-none">Вес посылки</span>
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Размер</label>

                                                        <div class="col-sm-2">
                                                            {{ form_widget(form.x, {'attr': {'class': 'form-control', 'placeholder': 'длина', 'min': 0}}) }}
                                                        </div>
                                                        <div class="col-sm-2">
                                                            {{ form_widget(form.y, {'attr': {'class': 'form-control', 'placeholder': 'ширина', 'min': 0}}) }}
                                                        </div>
                                                        <div class="col-sm-2">
                                                            {{ form_widget(form.z, {'attr': {'class': 'form-control', 'placeholder': 'высота', 'min': 0}}) }}
                                                        </div>
                                                        <div class="col-sm-4">
                                                            {{ form_errors(form.x) }}
                                                            {{ form_errors(form.y) }}
                                                            {{ form_errors(form.z) }}
                                                            <span class="help-block m-b-none">в сантиметрах</span>
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Дополнительно</label>

                                                        <div class="col-sm-10">
                                                            {{ form_errors(form.description) }}
                                                            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'информация, необходимая перевозчику'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Фото <br>(необязательно)</label>


                                                        <div class="col-sm-10">
                                                            {{ form_widget(form.imgFile) }}
                                                            <div id="image-holder"></div>
                                                            <br/>
                                                            {{ form_errors(form.imgFile) }}
                                                            <span class="help-block m-b-none">Вы можете загрузить изображение в формате JPG, GIF или PNG, размером не больше 10 мегабайт</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <input type="submit" id="submit_button" class="btn btn-primary pull-right" value="Сделать заказ"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {{ form_rest(form) }}

                                {{ form_end(form) }}



                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link href="{{ asset('bundles/binidiniweb/css/plugins/iCheck/custom.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/binidiniweb/css/plugins/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/binidiniweb/js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/plugins/iCheck/icheck.min.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/plugins/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>

    <!-- iCheck -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });

            $("#binidini_core_shipping_imgFile").on('change', function () {

                if (typeof (FileReader) != "undefined") {

                    var image_holder = $("#image-holder");
                    image_holder.empty();

                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<img />", {
                            "src": e.target.result,
                            "class": "img-thumbnail",
                            "width": 150,
                            "height": 150
                        }).appendTo(image_holder);

                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[0]);
                } else {
                    alert("This browser does not support FileReader.");
                }
            });

         });
         //Yandex map
        ymaps.ready(init);

        function init(){
            var suggestView1 = new ymaps.SuggestView('pickup-address');
            var suggestView2 = new ymaps.SuggestView('delivery-address');
        }

        $('#what').focus();

        $('#datetimepicker1').datetimepicker({
            locale: 'ru',
            format: 'DD.MM.YY HH:mm'
        });


    </script>

{% endblock %}