{% extends 'BinidiniWebBundle::layout.html.twig' %}

{% block meta %}
    <meta property="og:title" content="{{ shipping.pickupAddress }} - {{ shipping.deliveryAddress }} за {{ shipping.deliveryPrice }} р." />
    <meta property="og:site_name" content="Титимити - народный сервис доставки"/>
    <meta property="og:description" content="WANTED перевозчик, курьер, попутчик.
    Перевезти '{{ shipping.name }}' за {{ shipping.deliveryPrice }} руб. - от {{ shipping.pickupAddress }} - до {{ shipping.deliveryAddress }}.
    Время доставки: {{ shipping.deliveryDatetime | date('d.m.y H:i') }}." />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/binidiniweb/img/tytymyty.jpg') }}" />
{% endblock %}

{% block title %}
    Доставка {{ shipping.name | lower }}  
{% endblock %}

{% if shipping.canHasReview() %}
    {% block stylesheets %}

        <link href="{{ asset('bundles/binidiniweb/css/plugins/raty/jquery.raty.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/js/plugins/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
        {{ parent() }}
    {% endblock %}
{% endif %}


{% block pageheader %}Детализация заказа{% endblock %}

{% block actions %}
    {% if app.user is not empty %}
        {% if app.user.id == shipping.user.id and shipping.state == 'new' %}
            <a href="{{ path('binidini_core_shipping_state_transition', {'id': shipping.id, 'transition': 'cancel'}) }}"
               class="btn btn-primary p-xxs">Отменить</a>
        {% endif %}
        {% if app.user.id == shipping.user.id and shipping.state in ['accepted', 'delivered', 'paid'] %}
            {% if shipping.insurance > 0 %}
                    <a href="{{ path('binidini_core_shipping_state_transition', {'id': shipping.id, 'transition': 'dispute'}) }}"
                       class="btn btn-danger btn-outline p-xxs">Потребовать страховку</a>
            {% endif %}
                <a href="{{ path('binidini_core_shipping_state_transition', {'id': shipping.id, 'transition': 'refuse'}) }}"
                   class="btn btn-primary">Отменить</a>
        {% endif %}
        {% if app.user.id == shipping.user.id and shipping.state == 'delivered' %}
                <a href="{{ path('binidini_core_shipping_state_transition', {'id': shipping.id, 'transition': 'pay'}) }}"
                   class="btn btn-primary p-xxs">Оплачен</a>
        {% endif %}
        {% if app.user.id == shipping.user.id and shipping.state == 'rejected' %}
            {% if shipping.insurance > 0 %}
                    <a href="{{ path('binidini_core_shipping_state_transition', {'id': shipping.id, 'transition': 'dispute'}) }}"
                       class="btn btn-danger btn-outline p-xxs">Потребовать страховку</a>
            {% endif %}
                <a href="{{ path('binidini_core_shipping_state_transition', {'id': shipping.id, 'transition': 'cancel'}) }}"
                   class="btn btn-primary p-xxs">Аннулировать</a>
        {% endif %}

        {% if shipping.carrier is not null %}
            {% if app.user.id == shipping.carrier.id and shipping.state == 'accepted' %}
                    {% if shipping.deliveryCode > 0 %}
                        <a class="btn btn-primary p-xxs"  data-toggle="modal" data-target="#deliveryCode">Доставлен</a>

                        <div class="modal inmodal" id="deliveryCode" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <form action="{{ path('binidini_core_shipping_deliver_transition', {'id': shipping.id}) }}" method="GET" class="form-horizontal" id="promocode">
                                    <div class="modal-content animated flipInY">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">×</span>
                                                <span class="sr-only">Закрыть</span>
                                            </button>
                                            <h4 class="modal-title">Код подтверждения доставки</h4>

                                        </div>
                                        <div class="modal-body">

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Код:</label>

                                                <div class="col-sm-4">
                                                    <input type="input" class="form-control" name="delivery_code" placeholder=""/>
                                                </div>

                                                <div class="col-sm-4">

                                                </div>
                                            </div>
                                            <p>
                                                Код подтверждения доставки известен отправителю. Отправитель должен передать код получателю, а получатель перевозчику
                                                после получения заказа. Рекомендуем отдавать заказ получателю только после того, как передан правильный код подтверждения доставки.
                                            </p>
                                        </div>
                                        <div class="modal-footer ">
                                            <button type="button" class="btn btn-white" data-dismiss="modal">Отменить</button>
                                            <input type="submit" class="btn btn-primary" value="Подтвердить"/>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>

                    {% else %}
                        <a href="{{ path('binidini_core_shipping_state_transition', {'id': shipping.id, 'transition': 'deliver'}) }}"
                           class="btn btn-primary p-xxs">Доставлен</a>
                    {% endif %}
            {% endif %}
            {% if app.user.id == shipping.carrier.id and shipping.state == 'paid' %}
                    <a href="{{ path('binidini_core_shipping_state_transition', {'id': shipping.id, 'transition': 'complete'}) }}"
                       class="btn btn-primary p-xxs">Подтвердить оплату</a>
            {% endif %}
            {% if app.user.id == shipping.carrier.id and shipping.state == 'refused' %}
                    <a href="{{ path('binidini_core_shipping_state_transition', {'id': shipping.id, 'transition': 'debate'}) }}"
                       class="btn btn-danger btn-outline p-xxs">Потребовать оплату</a>
                    <a href="{{ path('binidini_core_shipping_state_transition', {'id': shipping.id, 'transition': 'annul'}) }}"
                       class="btn btn-primary p-xxs">Аннулировать</a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="m-b-md">
                                    <span class="badge badge-{{ shipping.state }} pull-right">
                                        {{ ('binidini.shipping.state.' ~ shipping.state) | trans }}
                                    </span>

                                    <h1>Доставка <i class="fa fa-{{ ['usd', 'eur', 'rub', 'jpy', 'try', 'gbp', 'inr', 'krw'][shipping.id % 8]}}"></i> {{ shipping.name | lower }}</h1>
                                </div>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-5">
                                <dl class="dl-horizontal">
                                    <dt>Оплата:</dt>
                                    <dd>
                                        {{ shipping.deliveryPrice | price }}
                                    </dd>
                                    {% if shipping.insurance > 0 %}
                                        <dt>Страховка:</dt>
                                        <dd class="text-danger">
                                            {{ shipping.insurance | price }}
                                            <a href="#" data-container="body" data-toggle="popover" data-placement="right"
                                               data-content="Сумма страховки блокируется со счета перевозчика до конца выполнения заказа. Деньги вернуться перевозчику только после подтверждения доставки отправителем." data-original-title="" title="">
                                                <i class="fa fa-question" style="font-size: large"></i>
                                            </a>
                                        </dd>
                                    {% endif %}
                                    {% if shipping.guarantee > 0 %}
                                        <dt>Гарантия:</dt>
                                        <dd class="text-success">
                                            {{ shipping.guarantee | price }}
                                            <a href="#" data-container="body" data-toggle="popover" data-placement="right"
                                               data-content="Сумма гарантии блокируется со счета отправителя до конца выполнения заказа. Деньги вернутся заказчику только после подтверждения оплаты перевозчиком." data-original-title="" title="">
                                                <i class="fa fa-question" style="font-size: large"></i>
                                            </a>
                                        </dd>
                                    {% endif %}
                                    {% if shipping.deliveryCode > 0 %}
                                        <dt>Код доставки:</dt>
                                        <dd>
                                            {% if app.user is not empty and app.user.id == shipping.user.id %}
                                                {{ 10000+(dcprime * shipping.id)%10000 }}
                                                {% if shipping.deliveryCode > 5 %}
                                                    | <span class="text-danger">неправильных попыток: {{ shipping.deliveryCode - 1 }}</span>
                                                {% endif %}
                                            {% else %}
                                                у получателя
                                            {% endif %}
                                        </dd>
                                    {% endif %}

                                </dl>
                                <dl class="dl-horizontal">

                                    <dt>Откуда:</dt>
                                    <dd>{{ shipping.pickupAddress }}</dd>
                                    <dt>Куда:</dt>
                                    <dd>{{ shipping.deliveryAddress }}</dd>
                                    <dt>Отправитель:</dt>
                                    <dd>
                                        <a href="{{ path('binidini_core_profile_show', {'id': shipping.sender.id}) }}">{{ shipping.sender.name }}</a>
                                        {% if (shipping.carrier is not empty) and (app.user is not empty) and (shipping.carrier.id == app.user.id) %}
                                            {{ shipping.sender.mobilephone }}
                                        {% endif %}
                                    </dd>
                                    <dt>Перевозчик:</dt>
                                    <dd>
                                        {% if shipping.carrier is not empty %}
                                                <a href="{{ path('binidini_core_profile_show', {'id': shipping.carrier.id} ) }}">{{ shipping.carrier.name }}</a>
                                                {% if (app.user is not empty) and (shipping.sender.id == app.user.id) %}
                                            {{ shipping.carrier.mobilephone }}
                                        {% endif %}
                                            {% endif %}
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-lg-2">
                                <a href="{{ '/media/img/' ~ shipping.imgPath }}" id="single_image" title="Доставка {{ shipping.name | lower }}" title="Доставка {{ shipping.name | lower }}">
                                    <img  alt="Доставка {{ shipping.name | lower }}" class="img-thumbnail" src="{{ shipping.imgPath | imagine_filter('photo150x150') }}"/>
                                </a>
                            </div>
                            <div class="col-lg-5" id="cluster_info">

                                <dl class="dl-horizontal">
                                    <dt><i class="fa fa-map-marker"></i> </dt>
                                    <dd><a id="show-map-btn" data-map-pickup="{{ shipping.pickupGeoPoint }}" data-map-delivery="{{ shipping.deliveryGeoPoint }}">карта маршрута</a></dd>
                                </dl>

                                <dl class="dl-horizontal">

                                    <dt>Прибытие:</dt>
                                    <dd>{{ shipping.deliveryDatetime | date('d.m.y H:i') }} крайнее время</dd>
                                    <dt>Создан:</dt>
                                    <dd>{{ shipping.createdAt | date('d.m.y H:i') }}</dd>
                                    <dt>Вес:</dt>
                                    <dd>{{ shipping.weight | default('~') | weight }}</dd>
                                    <dt>Габариты:</dt>
                                    <dd>{{ shipping.x | default(0) }}x{{ shipping.y | default(0) }}x{{ shipping.z | default(0) }} см </dd>
                                </dl>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                Перевозчик должен иметь документы для оформления расписки.<br/>
                                <a href="/bundles/binidiniweb/docs/raspiska.doc">Пример расписки</a>
                                <a href="#" data-container="body" data-toggle="popover" data-placement="right"
                                   data-content="Мы рекомендуем делать фото перевозчика, его паспорта, а также оформлять расписку при передаче заказа. " data-original-title="" title="">
                                    <i class="fa fa-question" style="font-size: large"></i>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <span class="m-b-md pull-right">
                                    <a href="{{ path('binidini_core_shipping_create_like', {'id': shipping.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-reply"></i> Создать такой же заказ</a>
                                </span>

                                <span class="m-b-md pull-right">

                                    <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>

                                    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="link" data-yashareQuickServices="facebook,twitter,odnoklassniki,lj,moimir,vkontakte"
                                         data-yashareTitle="{{ shipping.pickupAddress }} - {{ shipping.deliveryAddress }} за {{ shipping.deliveryPrice }} р"
                                         data-yashareDescription="Время доставки: {{ shipping.deliveryDatetime | date('d.m.y H:i') }}. {{ shipping.name }}"
                                         data-yashareImage="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/binidiniweb/img/tytymyty.jpg') }}"></div>
                                </span>
                            </div>
                        </div>

                        {% if shipping.description is not empty %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <dl class="dl-horizontal">
                                        <dt>Дополнительно:</dt>
                                        <dd>{{ shipping.description |nl2br }}</dd>
                                    </dl>
                                </div>
                            </div>
                        {% endif %}

                        {% if shipping.state in ['new', 'accepted', 'dispatched', 'on_way', 'delivered', 'paid', 'completed'] %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <dl class="dl-horizontal">
                                        <dt>Прогресс:</dt>
                                        <dd>
                                            <div class="progress progress-striped active">
                                                <div style="width: 20%"
                                                     class="progress-bar {{ (shipping.state == 'new') ? 'progress-bar-success' : '' }}">
                                                    <span>новый</span>
                                                </div>
                                                <div style="width: 20%"
                                                     class="progress-bar {{ (shipping.state == 'accepted') ? 'progress-bar-success' : '' }}">
                                                    <span>принят</span>
                                                </div>
                                                <div style="width: 20%"
                                                     class="progress-bar {{ (shipping.state == 'delivered') ? 'progress-bar-success' : '' }}">
                                                    <span>доставлен</span>
                                                </div>
                                                <div style="width: 20%"
                                                     class="progress-bar {{ (shipping.state == 'paid') ? 'progress-bar-success' : '' }}">
                                                    <span>оплачен</span>
                                                </div>
                                                <div style="width: 20%"
                                                     class="progress-bar {{ (shipping.state == 'completed') ? 'progress-bar-success' : '' }}">
                                                    <span>завершен</span>
                                                </div>
                                            </div>

                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-sm-12">
                                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- Tytymyty Responsive -->
                                <ins class="adsbygoogle"
                                     style="display:block"
                                     data-ad-client="ca-pub-4357514151099582"
                                     data-ad-slot="2103545558"
                                     data-ad-format="auto"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>
                        </div>

                        {{ include('BinidiniWebBundle::Frontend/Shipping/show/tabs.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('BinidiniWebBundle::Frontend/Shipping/show/modal_map.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/binidiniweb/js/plugins/fancybox/jquery.fancybox.js') }}"></script>


    {% if shipping.canHasReview() %}
        <script src="{{ asset('bundles/binidiniweb/js/plugins/raty/jquery.raty.js') }}"></script>
        <script src="{{ asset('bundles/binidiniweb/js/review.js') }}"></script>
    {% endif %}
    <script type="text/javascript">

        var successCallback = function (href) {
            if (href == '#tab-4') {
                review.setReadonlyRating('.rating');
            }
        };
        var preLoadCallback = function (obj) {
            if ($(obj).attr('href') == '#tab-4') {
                review.setRatingControl('#raty', function (number) {
                    $('#input-rating').val(number);
                });
            }
        };
        tabAjax.reloadActiveTab (successCallback, preLoadCallback);
        tabAjax.initTab (successCallback, preLoadCallback);
        var mapObject;
        var $showMapBtn = $('#show-map-btn');
        $($showMapBtn).click(function (e) {
	    $('#map-modal').modal('show');
            if (mapObject == undefined) {
                var pickupPoint = 0;
                var deliveryPoint = 0;
                pickupPoint = '{{shipping.pickupAddress}}';
                deliveryPoint = '{{ shipping.deliveryAddress}}';

                ymaps.route([
                    pickupPoint,
                    deliveryPoint
                ],{mapStateAutoApply: true}).then(
                        function (route) {
                            ymaps.geocode(pickupPoint).then(function (res) {
                                mapObject = new ymaps.Map('map', {
                                    center: res.geoObjects.get(0).geometry.getCoordinates(),
                                    zoom: 13
                                });
                                mapObject.geoObjects.add(route);
                                $('#route-destination').html(route.getHumanLength());
                                $('#route-time').html(route.getHumanTime());
                                $('#route-information').toggleClass('hide');
                            });
                        },
                        function (error) {
                            console.log('Error while rendering route: ' + error.message);
                        }
                );
            }
        });


        $(document).ready(function() {
            $("a#single_image").fancybox(
            );
        });

    </script>
{% endblock %}
