<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}
    <title>
        {% block title %}
            Титимити - сервис доставки на краудсорсе - Вход
        {% endblock %}
    </title>

    {% block stylesheets %}
        <link href="{{ asset('bundles/binidiniweb/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/css/main.css') }}" rel="stylesheet">
    {% endblock %}

</head>

<body class="bg-navy bg-tyty" style="color: #ffffff;">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">&#165;</h1>
            </div>

            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <h3>
                        {{ message }}
                    </h3>
                {% endfor %}
            {% endfor %}


            {% block fos_user_content %}{% endblock %}

            <p class="m-t"> <small><a href="{{ path('binidini_home') }}">Титимити</a> - сервис доставки на краудсорсе &copy; {{ "now"|date("Y") }}</small> </p>
        </div>
    </div>



    {% block javascripts %}
        <script src="{{ asset('bundles/binidiniweb/js/jquery-2.1.1.js') }}"></script>
        <script src="{{ asset('bundles/binidiniweb/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/binidiniweb/js/common.js') }}"></script>
    {% endblock %}

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter32225569 = new Ya.Metrika({
                        id:32225569,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true,
                        trackHash:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/32225569" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Google.Analytics counter -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72662902-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- /Google.Analytics counter -->

    <!--VK ретаргетинг -->
    <script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=vTYeTkGF5uNns*9j5mn8bgJz75jSJCwYpEGPhtMbf4xPg6GquJfcPeI6nNSCnPrBI5EWhtopjULq4qlOuRHd3GZfODa34YZJVaTIIsXUYyPQWbn2YGuQw/IZluKSTm6b0f6LfY5SjNE81CgNLMadP42HP4aFN8c04c29HOF5rF0-';</script>
    <script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=qsxz1CZCeeJ7Sk1mtJsDbNYrFm0W/ZlB6nl01Vfraq3oU1GPLfckSrgxsiclaNCPgD1hTHvpGZTj6zkQI992oyhuRp53NQnGt66nClAkqjQHyASp1EocR9mnwfy/3h7HY7a0hzUxNIAS1e2jopOQCEn07K2vL*8mIgWChrP*dQE-';</script>
    <!--/VK ретаргетинг -->

</body>

</html>
