{% macro is_current_route(routes) %}
    {%- if routes is iterable -%}
        {% for route in routes %}
            {%- if app.request.attributes.get('_route') == route -%}
                {{- 'class="active"' -}}
            {%- endif -%}
        {% endfor %}
    {%- else -%}
        {%- if app.request.attributes.get('_route') == routes -%}
            {{- 'class="active"' -}}
        {%- endif -%}
    {%- endif -%}
{% endmacro %}

{% import _self as croute %}



<!DOCTYPE html>
<html lang="ru" >

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}{% endblock %}

    <title>
        {% block title %}
            Титимити - народная доставка
        {% endblock %}
    </title>

    {% block stylesheets %}
        <link href="{{ asset('bundles/binidiniweb/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/css/main.css') }}" rel="stylesheet">
    {% endblock %}

    {% block js %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="image_src" href="http://tytymyty.ru/logo.jpg"/>

</head>

<body {% if is_mobile() %}class="body-small"{% endif %}>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        {% if (app.user is not empty)  %}
                            <img alt="image" class="img-circle" src="{{ app.user.imgPath|imagine_filter('photo48x48') }}"/>
                            <a href="{{ path('fos_user_profile_show') }}">
                                <span class="clear">
                                    <span class="block m-t-xs"> <strong
                                                class="font-bold">{{ app.user.name }}</strong></span>
                                </span>
                                <span class="text-muted text-xs block">
                                    Счет:
                                    {{ app.user.balance }}{% if app.user.holdAmount > 0 %}/{{ app.user.holdAmount }}{% endif %}
                                    руб.

                                </span>
                            </a>
                        {% else %}
                            <a href="{{ path('binidini_home') }}">
                                <img alt="Доставка" src="{{ asset('bundles/binidiniweb/img/доставка.png')}}" title="Доставка"/>
                                <span class="clear"><span class="block m-t-xs"><strong class="font-bold">Нам по пути</strong></span></span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="logo-element">
                        &#165;++
                    </div>
                </li>

                <li {{ croute.is_current_route(['binidini_search_shipment_index','binidini_search_shipment_search','binidini_search_shipment_nearest']) }}>
                    <a class="count-info" href="#">
                        <i class="fa fa-map-marker"></i>
                        <span class="nav-label">
                            Заказы
                            {% render path('binidini_search_shipment_count') %}
                        </span>
                    </a>

                    <ul class="nav nav-second-level">

                        <li {{ croute.is_current_route('binidini_search_shipment_search') }}><a href="{{  path('binidini_search_shipment_search', {'paginate': app.request.get('paginate')}) }}" >Поиск заказа</a></li>
                        <li {{ croute.is_current_route('binidini_search_shipment_nearest') }}><a id="geo" href="#" myHref="{{  path('binidini_search_shipment_nearest', {'paginate': app.request.get('paginate', 15)}) }}"  onclick="getLocation()">Заказы рядом</a></li>
                        <li {{ croute.is_current_route('binidini_search_shipment_index') }}><a href="{{ path('binidini_search_shipment_index', {'paginate': app.request.get('paginate')}) }}">Все заказы</a></li>
                    </ul>
                </li>
                {% if (app.user is empty) or app.user.isCarrier %}
                <li {{ croute.is_current_route(['binidini_core_carrier_index', 'binidini_core_carrier_active_index']) }}>
                    <a href="#"><i class="fa fa-truck"></i> <span class="nav-label">Мои перевозки</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li {{ croute.is_current_route('binidini_core_carrier_index') }}><a href="{{ path('binidini_core_carrier_index', {'paginate': app.request.get('paginate'), 'state': ''}) }}">Все перевозки</a></li>
                        <li {{ croute.is_current_route('binidini_core_carrier_active_index') }}><a href="{{ path('binidini_core_carrier_active_index', {'paginate': app.request.get('paginate')}) }}">Активные</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if (app.user is empty) or app.user.isSender %}
                <li {{ croute.is_current_route(['binidini_core_shipping_index', 'binidini_core_shipping_new', 'binidini_core_shipping_active_index']) }}>
                    <a href="#"><i class="fa fa-archive"></i> <span class="nav-label">Мои отправки</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li {{ croute.is_current_route('binidini_core_shipping_index') }}><a href="{{ path('binidini_core_shipping_index', {'paginate': app.request.get('paginate'), 'state': ''}) }}">Все отправки</a></li>
                        <li {{ croute.is_current_route('binidini_core_shipping_active_index') }}><a href="{{ path('binidini_core_shipping_active_index', {'paginate': app.request.get('paginate')}) }}">Активные</a></li>
                        <li {{ croute.is_current_route('binidini_core_shipping_new') }}><a href="{{ path('binidini_core_shipping_new') }}">Создать новую</a></li>
                    </ul>

                </li>
                {% endif %}

                <li {{ croute.is_current_route(['fos_user_profile_edit','fos_user_profile_show', 'binidini_core_payment_index', 'binidini_core_place_index']) }}>
                    <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Мой профиль </span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li {{ croute.is_current_route('fos_user_profile_show') }}><a href="{{ path('fos_user_profile_show') }}">Моя страница</a></li>
                        <li {{ croute.is_current_route('fos_user_profile_edit') }}><a href="{{ path('fos_user_profile_edit') }}">Мои настройки</a></li>
                        <li {{ croute.is_current_route('binidini_core_payment_index') }}><a href="{{ path('binidini_core_payment_index') }}">Мои финансы</a></li>
                    </ul>
                </li>
                <li class="special_link"><hr/></li>
                <li {{ croute.is_current_route(['binidini_senders', 'binidini_transporters', 'binidini_payment', 'binidini_how_it_works']) }}>
                    <a href="#"><i class="fa fa-medkit"></i> <span class="nav-label">Как все работает</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li {{ croute.is_current_route('binidini_senders') }}><a href="{{ path('binidini_senders') }}">Отправителям</a></li>
                        <li {{ croute.is_current_route('binidini_transporters') }}><a href="{{ path('binidini_transporters') }}">Перевозчикам</a></li>
                        <li {{ croute.is_current_route('binidini_payment') }}><a href="{{ path('binidini_payment') }}" target="rules">Оплата</a></li>
                        <li {{ croute.is_current_route('binidini_how_it_works') }}><a href="{{ path('binidini_how_it_works') }}">Вопрос-ответ</a></li>
                        <li {{ croute.is_current_route('binidini_rules') }}><a href="{{ path('binidini_rules') }}" target="rules">Правила</a></li>
                    </ul>
                </li>
                <li {{ croute.is_current_route(['binidini_shops', 'binidini_carriers', 'binidini_partners']) }}>
                    <a href="#"><i class="fa fa-group"></i><span class="nav-label">Сотрудничество</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li {{ croute.is_current_route('binidini_shops') }}><a href="{{ path('binidini_shops') }}">Магазинам</a></li>
                        <li {{ croute.is_current_route('binidini_carriers') }}><a href="{{ path('binidini_carriers') }}">Службам доставки</a></li>
                        <li {{ croute.is_current_route('binidini_partners') }}><a href="{{ path('binidini_partners') }}">Партнеры</a></li>
                    </ul>
                <li {{ croute.is_current_route('binidini_partners') }}><a href="http://blog.tytymyty.ru" target="blog"><i class="fa fa-comments"></i> <span class="nav-label">Блог</span></a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('binidini_admin_shipping') }}"><i class="fa fa-exclamation-triangle"></i> <span class="nav-label">Консоль</span></a>
                    </li>
                {% endif %}

            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg {% block sidebar %}{% endblock %}">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    {% block topsearch %}
                    <form role="search" class="navbar-form-custom" method="get" action="{{ path('binidini_search_shipment_search') }}">
                        <div class="form-group">
                            <input type="text" placeholder="Поиск заказа по адресу" class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>
                    {% endblock %}
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">Титимити по пути</span>
                    </li>
                    {% if (app.user is not empty) %}
                        {% render path('binidini_my_messages') %}
                        {% render path('binidini_user_bids_accepted') %}
                        {% render path('binidini_sender_bids_new') %}
                    {% endif %}
                    <li>
                        {% if (app.user is not empty)  %}
                            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <a href="{{ path('binidini_search_shipment_search', {'_switch_user': '_exit'}) }}">Выход</a>
                            {% else %}
                                <a href="{{ path("fos_user_security_logout") }}">
                                    <i class="fa fa-sign-out"></i> Выход
                                </a>
                            {% endif %}

                        {% else %}
                            <a href="{{ path("fos_user_security_login") }}">
                                <i class="fa fa-sign-in"></i> Вход
                            </a>
                        {% endif %}
                    </li>
                </ul>

            </nav>
        </div>

        {% block pagetitle %}
            <div class="row wrapper border-bottom white-bg page-heading" >
                <div class="col-sm-6" id="flashback">
                    <h2>{% block pageheader %}{% endblock %}</h2>
                    {% block breadcrumb %}{% endblock %}
                    {% block flashes %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="text-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endblock %}
                </div>
                <div class="col-sm-6">
                    <div class="title-action">
                        {% block actions %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block content %}{% endblock %}

        <div class="modal inmodal fade" id="geoModal" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                        <h4 class="modal-title">Ошибка</h4>
                        <small class="font-bold">при определении местоположения</small>
                    </div>
                    <div class="modal-body">
                        <p id="geoError"></p>
                        <p>Вы можете воспользоваться поиском по адресу, меню <strong>Поиск заказа</strong>.</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="pull-right">
                <a href="{{ path('binidini_landing_page') }}">Титимити</a> - народный сервис доставки.
            </div>
        </div>

    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('bundles/binidiniweb/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script src="{{ asset('bundles/binidiniweb/js/inspinia.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/plugins/pace/pace.min.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/common.js') }}"></script>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

    <script type="text/javascript">

        ymaps.ready(init0);

        function init0(){
            var suggestView = new ymaps.SuggestView('top-search');
        }

        function getLocation() {
            var myUrl =  document.getElementById('geo').getAttribute("myHref");
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                function(pos){
                    window.location = myUrl + "&lon=" + pos.coords.longitude + "&lat=" +  pos.coords.latitude;
                },
                function(error) {
                    var x = document.getElementById("geoError");
                    switch(error.code) {
                        case error.PERMISSION_DENIED:
                            x.innerHTML = "Пользователь отказался предоставить информацию о своем местомоложении."
                            break;
                        case error.POSITION_UNAVAILABLE:
                            x.innerHTML = "Информация о местоположении недоступна.";
                            break;
                        case error.TIMEOUT:
                            x.innerHTML = "Время ожидания запроса о местомоложении истекло."
                            break;
                        case error.UNKNOWN_ERROR:
                            x.innerHTML = "Неизвестная ошибка."
                            break;
                        default :
                            x.innerHTML = 'Ошибка (' + error.code + '): ' + error.message;
                            break;
                    };
                    $('#geoModal').modal();
                });
            } else {
                x.innerHTML = "Ваш браузер не поддерживает геолокацию. Смените браузер или воспользуйтесь поиском по адресу.";
                $('#geoModal').modal();
            }
        }

    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter32225569 = new Ya.Metrika({
                        id:32225569,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true,
                        trackHash:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/32225569" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Google.Analytics counter -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72662902-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- /Google.Analytics counter -->

    <!--VK ретаргетинг -->
    <script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=vTYeTkGF5uNns*9j5mn8bgJz75jSJCwYpEGPhtMbf4xPg6GquJfcPeI6nNSCnPrBI5EWhtopjULq4qlOuRHd3GZfODa34YZJVaTIIsXUYyPQWbn2YGuQw/IZluKSTm6b0f6LfY5SjNE81CgNLMadP42HP4aFN8c04c29HOF5rF0-';</script>
    <script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=qsxz1CZCeeJ7Sk1mtJsDbNYrFm0W/ZlB6nl01Vfraq3oU1GPLfckSrgxsiclaNCPgD1hTHvpGZTj6zkQI992oyhuRp53NQnGt66nClAkqjQHyASp1EocR9mnwfy/3h7HY7a0hzUxNIAS1e2jopOQCEn07K2vL*8mIgWChrP*dQE-';</script>
    <!--/VK ретаргетинг -->

{% endblock %}
</body>
</html>