{% macro is_current_route(route) %}
    {%- if app.request.attributes.get('_route') == route -%}
        {{- 'class="active"' -}}
    {%- endif -%}
{% endmacro %}

{% import _self as croute %}



<!DOCTYPE html>
<html lang="ru" >

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Титимити - народный сервис доставки
        {% endblock %}
    </title>

    {% block stylesheets %}
        <link href="{{ asset('bundles/binidiniweb/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/css/main.css') }}" rel="stylesheet">
    {% endblock %}

    {% block js %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="image_src" href="http://tytymyty.ru/logo.jpg"/>

</head>

<body class="body-small">
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        {% if (app.user is not empty)  %}
                            <img alt="image" class="img-circle" src="{{ app.user.imgPath|imagine_filter('photo48x48') }}"/>
                            <a href="{{ path('fos_user_profile_show') }}">
                                <span class="clear">
                                    <span class="block m-t-xs"> <strong
                                                class="font-bold">{{ app.user.name }}</strong></span>
                                </span>
                                <span class="text-muted text-xs block">
                                    Счет:
                                    {{ app.user.balance }}{% if app.user.holdAmount > 0 %}/{{ app.user.holdAmount }}{% endif %}
                                    руб.

                                </span>
                            </a>
                        {% else %}
                            <a href="{{ path('binidini_home') }}">
                                <img alt="Титимити" src="{{ asset('bundles/binidiniweb/img/tm.png') }}"/>
                                <span class="clear"><span class="block m-t-xs"><strong class="font-bold">Нам по пути</strong></span></span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="logo-element">
                        &#165;++
                    </div>
                </li>
                <li {{ croute.is_current_route('fos_user_profile_show') }}>
                    <a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> <span class="nav-label">Моя страница</span></a>
                </li>
                <li {{ croute.is_current_route('binidini_search_shipment_index') }}>
                    <a class="count-info" href="{{ path('binidini_search_shipment_index') }}">
                        <i class="fa fa-map-marker"></i>
                        <span class="nav-label">
                            Заказы
                            {% render path('binidini_search_shipment_count') %}
                        </span>
                    </a>
                </li>
                {% if (app.user is empty) or app.user.isCarrier %}
                <li {{ croute.is_current_route('binidini_core_carrier_index') }}>
                    <a href="{{ path('binidini_core_carrier_index', {'paginate': app.request.get('paginate'), 'state': ''}) }}"><i class="fa fa-truck"></i> <span class="nav-label">Мои перевозки</span></a>
                </li>
                {% endif %}
                {% if (app.user is empty) or app.user.isSender %}
                <li {{ croute.is_current_route('binidini_core_shipping_index') }}>
                    <a href="{{ path('binidini_core_shipping_index', {'paginate': app.request.get('paginate'), 'state': ''}) }}"><i class="fa fa-archive"></i> <span class="nav-label">Мои отправки</span></a>
                </li>
                {% endif %}
                <li {{ croute.is_current_route('binidini_core_payment_index') }}>
                    <a href="{{ path('binidini_core_payment_index') }}"><i class="fa fa-rub"></i> <span class="nav-label">Мои финансы</span> </a>
                </li>
                <li {{ croute.is_current_route('fos_user_profile_edit') }}>
                    <a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-gears"></i> <span class="nav-label">Мои настройки</span> </a>
                </li>

            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <form role="search" class="navbar-form-custom" method="get" action="{{ path('binidini_search_shipment_search') }}">
                        <div class="form-group">
                            <input type="text" placeholder="Поиск заказа по адресу" class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('binidini_admin_shipping') }}">Администрирование</a>
                        {% else %}
                            <span class="m-r-sm text-muted welcome-message">Титимити по пути</span>
                        {% endif %}

                    </li>
                    {% if (app.user is not empty) %}
                        {% render path('binidini_user_bids_accepted') %}
                        {% render path('binidini_sender_bids_new') %}
                    {% endif %}
                    <li>
                        {% if (app.user is not empty)  %}
                            <a href="{{ path("fos_user_security_logout") }}">
                                <i class="fa fa-sign-out"></i> Выход
                            </a>
                        {% else %}
                            <a href="{{ path("fos_user_security_login") }}">
                                <i class="fa fa-sign-in"></i> Вход
                            </a>
                        {% endif %}
                    </li>
                </ul>

            </nav>
        </div>

        {% block pagetitle %}
            <div class="row wrapper border-bottom white-bg page-heading" >
                <div class="col-sm-6" id="flashback">
                    <h2>{% block pageheader %}{% endblock %}</h2>
                    {% block breadcrumb %}{% endblock %}
                    {% block flashes %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="text-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endblock %}
                </div>
                <div class="col-sm-6">
                    <div class="title-action">
                        {% block actions %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block content %}{% endblock %}

        <div class="footer">
            <div class="pull-right">
                <strong>Титимити</strong> - p2p сервис доставки.
            </div>
            <div>
                <a href="{{ path('binidini_rules') }}" target="_blank" class="link-block">Правила Титимити</a>
            </div>
        </div>

    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('bundles/binidiniweb/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script src="{{ asset('bundles/binidiniweb/js/inspinia.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/plugins/pace/pace.min.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/common.js') }}"></script>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

    <script type="text/javascript">
        ymaps.ready(init0);


        function init0(){
            var suggestView = new ymaps.SuggestView('top-search');
        }
    </script>

{% endblock %}
</body>
</html>