{% macro is_current_route(route) %}
    {%- if app.request.attributes.get('_route') == route -%}
        {{- 'class="active"' -}}
    {%- endif -%}
{% endmacro %}

{% import _self as croute %}

<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Титимити - p2p сервис доставки
        {% endblock %}
    </title>

    {% block stylesheets %}
        <link href="{{ asset('bundles/binidiniweb/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/css/main.css') }}" rel="stylesheet">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
                            <img alt="image" class="img-circle" src="{{ asset('bundles/binidiniweb/img/logo48x48.png') }}" />
                        </span>
                        <a href="{{ path('fos_user_profile_show') }}">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ app.user.name }}</strong></span></span>
                        </a>
                    </div>
                    <div class="logo-element">
                        bd
                    </div>
                </li>
                <li {{ croute.is_current_route('binidini_search') }}>
                    <a class="count-info" href="{{ path('binidini_search') }}">
                        <i class="fa fa-rub"></i><span class="nav-label">Заказы <span class="label label-danger">138</span></span>
                    </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Моя страница</span></a>
                </li>
                <li {{ croute.is_current_route('binidini_core_transports') }}>
                    <a href="{{ path('binidini_core_carrier_index', {'paginate': app.request.get('paginate'), 'state': ''}) }}"><i class="fa fa-truck"></i> <span class="nav-label">Мои перевозки</span></a>
                </li>
                <li {{ croute.is_current_route('binidini_core_shipping_index') }}>
                    <a href="{{ path('binidini_core_shipping_index', {'paginate': app.request.get('paginate'), 'state': ''}) }}"><i class="fa fa-archive"></i> <span class="nav-label">Мои отправки</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-gears"></i> <span class="nav-label">Мои настройки</span> </a>
                </li>
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                        <div class="form-group">
                            <input type="text" placeholder="Поиск заказа по адресу" class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="{{ path("fos_user_security_logout") }}">
                            <i class="fa fa-sign-out"></i> Выход
                        </a>
                    </li>
                </ul>

            </nav>
        </div>

        {% block pagetitle %}
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>Заголов страницы</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">Главная</a>
                        </li>
                        <li class="active">
                            <strong>подстраница</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-sm-8">
                    <div class="title-action">
                        <a href="" class="btn btn-primary">Действие</a>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block content %}{% endblock %}

        <div class="footer">
            <div class="pull-right">
                <strong>Титимити</strong> - p2p сервис доставки.
            </div>
            <div>
                <strong>Copyright</strong> Титимити &copy; 2015
            </div>
        </div>

    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('bundles/binidiniweb/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script src="{{ asset('bundles/binidiniweb/js/inspinia.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/plugins/pace/pace.min.js') }}"></script>

    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

    <script type="text/javascript">
        ymaps.ready(init0);


        function init0(){
            var suggestView = new ymaps.SuggestView('top-search');
        }
    </script>
{% endblock %}

</body>
</html>