{% macro is_current_route(routes) %}
    {%- if routes is iterable -%}
        {% for route in routes %}
            {%- if app.request.attributes.get('_route') == route -%}
                {{- 'class="active"' -}}
            {%- endif -%}
        {% endfor %}
    {%- else -%}
        {%- if app.request.attributes.get('_route') == routes -%}
            {{- 'class="active"' -}}
        {%- endif -%}
    {%- endif -%}
{% endmacro %}

{% import _self as croute %}



<!DOCTYPE html>
<html lang="ru" >

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}{% endblock %}

    <title>
        {% block title %}
            Титимити - народная доставка
        {% endblock %}
    </title>

    {% block stylesheets %}
        <link href="{{ asset('bundles/binidiniweb/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/css/main.css') }}" rel="stylesheet">
    {% endblock %}

    {% block js %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="image_src" href="http://tytymyty.ru/logo.jpg"/>

</head>

<body class="md-skin {% if is_mobile() %}body-small{% endif %}">

<div id="wrapper" class="green-bg">


    <div id="page-wrapper" class="gray-bg {% block sidebar %}{% endblock %}">



        {% block content %}{% endblock %}



    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('bundles/binidiniweb/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script src="{{ asset('bundles/binidiniweb/js/inspinia.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/plugins/pace/pace.min.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/common.js') }}"></script>


{% endblock %}
</body>
</html>