<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Титимити - p2p сервис доставки">
    <meta name="author" content="">
    <!-- Add Your favicon here -->
    <!--<link rel="icon" href="img/favicon.ico">-->

    <title>Титимити - p2p сервис доставки</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/binidiniweb/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/binidiniweb/font-awesome/css/font-awesome.css') }}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/binidiniweb/css/landing.css') }}" rel="stylesheet">
</head>
<body id="page-top">
<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#page-top"><img src="{{ asset('bundles/binidiniweb/img/logo.png') }}"/></a>
                <br/><span style="color: #ffffff;">Титимити - нам по пути</span>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li><a class="page-scroll" href="#features">О нас</a></li>
                    <li><a class="page-scroll" href="#price">Цена</a></li>
                    <li><a class="page-scroll" href="#secure">Безопасность</a></li>
                    <li><a class="page-scroll" href="#application">Загрузить</a></li>
                    <li><a class="page-scroll" href="#contact">Контакты</a></li>
                    <li><a class="page-scroll" href="{{ path('binidini_search_shipment_index') }}">Вход</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
        <li data-target="#inSlider" data-slide-to="2"></li>
        <li data-target="#inSlider" data-slide-to="3"></li>
        <li data-target="#inSlider" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption blank">
                    <a href="" style="color: #ffffff;">
                        <div class="col-sm-offset-1 col-sm-4 well text-center"
                             style="background-color: #1ab394; opacity: 0.9">
                            <h3>Вам нужно что-то доставить или перевезти?</h3>
                        </div>
                    </a>
                    <a href="#" style="color: #ffffff;">
                        <div class="col-sm-offset-1 col-sm-4 well text-center"
                             style="background-color: #009ee0; opacity: 0.9">
                            <h3>Хотите стать курьером или перевозчиком?</h3>
                        </div>
                    </a>

                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <a href="" style="color: #ffffff;">
                        <div class="col-sm-offset-1 col-sm-4 well text-center"
                             style="background-color: #1ab394; opacity: 0.9">
                            <h3>Отправитель назначает цену доставки.</h3>
                        </div>
                    </a>
                    <a href="#" style="color: #ffffff;">
                        <div class="col-sm-offset-1 col-sm-4 well text-center"
                             style="background-color: #009ee0; opacity: 0.9">
                            <h3>Перевозчик предлагает стоимость перевозки.</h3>
                        </div>
                    </a>

                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back four"></div>
        </div>

        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <a href="" style="color: #ffffff;">
                        <div class="col-sm-offset-1 col-sm-4 well text-center"
                             style="background-color: #1ab394; opacity: 0.9">
                            <h3>Отправитель получает страховку от порчи и утери.</h3>
                        </div>
                    </a>
                    <a href="#" style="color: #ffffff;">
                        <div class="col-sm-offset-1 col-sm-4 well text-center"
                             style="background-color: #009ee0; opacity: 0.9">
                            <h3>Перевозчик получает гарантию оплаты перевозки.</h3>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back seven"></div>
        </div>

        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <div class="col-sm-offset-5">
                        <h1>Получайте деньги, путешествуя по миру.</h1>

                        <p>
                            Получайте деньги по дороге домой, на работу и дачу.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back five"></div>
        </div>

        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                        <div class="col-sm-offset-3 col-sm-6 well text-center"
                             style="background-color: #f8ac59; opacity: 0.8">
                            <h3>Сервис бесплатный!</h3>
                            <h4>Мы верим, что наш сервис поможет людям помогать близким и соседям, которые в этом нуждаются. Прежде всего это касается наших детей, стариков и инвалидов.</h4>
                        </div>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>

    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Предыдущий</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Следующий</span>
    </a>
</div>


<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-3">
            <h2>Быстро</h2>
            <p>
                Как только заказ попадает в систему десятки курьеров в районе отправителя получают уведомления и
                в течение минут смогут забрать заказ.
            </p>

            <p><a class="navy-link" href="#" role="button">Подробнее &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Надежно</h2>

            <p>
                Гарантия оплаты, страховка от потери и порчи заказа, рейтинги отправителей и перевозчиков делают систему безопасной.
            </p>

            <p><a class="navy-link" href="#" role="button">Подробнее &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Недорого</h2>

            <p>
                Отправитель назначает цену заказа, перевозчик соглашается или устанавливает цену перевозки. Данная система позволяет найти справедливую цену.
            </p>

            <p><a class="navy-link" href="#" role="button">Подробнее &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Удобно</h2>

            <p>
                Титимити делает все что-бы клиентом было удобно работать в системе. Мы стараемся операитино добавлять необходимый функционал по запросу клиентов.
            </p>

            <p><a class="navy-link" href="#" role="button">Подробнее &raquo;</a></p>
        </div>
    </div>
</section>

<section class="container features ">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Чтобы пожинать добро, надо его сеять.</h1>
            <p>
                Ежедневно тысячи товаров ждут своего получателя. Миллионы людей едут из одной части города в другую.<br/>
                Мы связываем эти два потока и делаем их взаимовыгодными.
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center">
            <div>
                <i class="fa fa-taxi features-icon"></i>

                <h2>Таксистам, курьерам, ...</h2>

                <p>Откройте новый поток заказов. Выбирайте интересные заказы в удобных районах.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-user features-icon"></i>

                <h2>Студентам</h2>

                <p>Способ заработка наличных, немешающий учебе. Найдите заказы недалеко от дома, места учебы и
                    зарабатывайте походу карманные деньги.</p>
            </div>
            <div>
                <i class="fa fa-truck features-icon"></i>

                <h2>Перевозчикам</h2>

                <p>Вы едите в дальнюю поезду и у вас есть место в машине. Почему не получить по пути дополнительный
                    заработок.</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/bundles/binidiniweb/img/landing/perspective.png" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center">
            <div>
                <i class="fa fa-rub features-icon"></i>

                <h2>Малому Бизнесу</h2>

                <p>Экономте на стоимости доставки. Выбирайте подходящих вашему бизнесу курьеров.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-bitcoin features-icon"></i>

                <h2>Интернет покупателям</h2>

                <p>Найдите более дешевый способ отправки и доставки интернет покупок.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-users features-icon"></i>

                <h2>Всем</h2>

                <p>Экономте на доставке товаров. Покройте расходы на бензин, став курьеров по пути своего маршрута.</p>
            </div>
        </div>
    </div>
</section>

<h1 class="m-xs">$ 210,660</h1>

<h3 class="font-bold no-margins">
    Monthly income
</h3>
<small>Income form project Beta.</small>

<section id='price' class="price gray-section ">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1 >Титимити - это бесплатный сервис</h1>

                <p>Чтобы быть полезным людям, нужно ничем не пользоваться от них. (В. О. Ключевский)</p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-6 features-text">
                <small>Титимити</small>
                <h2>Откуда деньги?</h2>

                <p>
                    Стратегия развития сервиса Титимити такая же как у крупных проектов google.com, yandex.ru, mail.ru и др.
                    Мы предоставляем основной сервис бесплатно и собираемся зарабатывать на рекламе и продажи дополнительных возможностей.
                    На сегодняшний день все абсолютно бесплатно.
                </p>
                <a href="" class="btn btn-primary">Подробнее</a>
            </div>
            <div class="col-lg-6 text-right">
                <img src="/bundles/binidiniweb/img/landing/dashboard.png" alt="dashboard"
                     class="img-responsive pull-right">
            </div>
        </div>
    </div>
</section>

<section id='secure' class="secure">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Гарантия оплаты и страхование доставки.</h1>

                <p>В этой жизни гарантию дает только Mercedes и то только на первые 750 000 пробега…</p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-3 features-text">
                <small>Титимити</small>
                <h2>Страхование</h2>

                <p>
                    Депозит в рублях, требуемый от перевозчика в качестве страховки на случай утраты или порчи посылки. Сумма, равная страховке, замораживается со счета перевозчика и возвращается после подтверждения отправителем доставки.
                </p>
                <a href="" class="btn btn-primary">Подробнее...</a>
            </div>
            <div class="col-lg-6 text-right m-t-n-lg">
                <img src="/bundles/binidiniweb/img/landing/iphone.jpg" class="img-responsive" alt="dashboard">
            </div>
            <div class="col-lg-3 features-text text-right">
                <small>Титимити</small>
                <h2>Гарантия оплаты</h2>

                <p>
                    Гарантия оплаты перевозки. Сумма, равная стоимости перевозки, замораживается со счета отправителя и возвращается после подтверждения оплаты перевозчиком.

                </p>
                <a href="" class="btn btn-primary">Подробнее...</a>
            </div>
        </div>
    </div>

</section>

<section class="features gray-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Гибкая система уведомлений</h1>

                <p>Мы предоставляем информацию о перемещении заказа онлайн, через смс и email.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>Титимити</small>
                <h2>Онлайн уведомления</h2>
                <i class="fa fa-clock-o big-icon pull-right"></i>

                <p>
                    Как только пользователь входит в систему он получает уведомления. Отправитель получает уведомления о новых заявках на перевозку. Перевозчик же получает
                    уведомления о принятых отправителем заявках.
                </p>
            </div>
            <div class="col-lg-5 features-text">
                <small>Титимити</small>
                <h2>Смс оповещения</h2>
                <i class="fa fa-comments-o big-icon pull-right"></i>

                <p>
                    Для оперативного оповещения Титимити рассылает смс сообщения на важные события. Отправители и перевозчики всегда могут настроить необходимые смс оповещения
                    в настройках на своей странице.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>Титимити</small>
                <h2>Email сообщения</h2>
                <i class="fa fa-envelope-o big-icon pull-right"></i>

                <p>
                    Все уведомления отсылаются на электронную почту. Пользователю необходимо верифицировать свой почтовый ящик для того чтобы получать уведомления на email.
                </p>
            </div>
            <div class="col-lg-5 features-text">
                <small>Титимити</small>
                <h2>Настройка уведомлений</h2>
                <i class="fa fa-gears big-icon pull-right"></i>

                <p>
                    Любые уведомления по смс и на электронную почту можно включать и отключать. Выберайте только важные для вас уведомления.
                </p>
            </div>
        </div>
    </div>

</section>


<section id="application" class="application">
    <div class="container">
        <div class="row m-b-sm">
            <div class="col-sm-12 text-center">
                <div class="navy-line"></div>
                <h1>Загрузить приложения</h1>

                <p>Выберите удобную для Вас платформу и присоединяйтесь к нам.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="platforms">
                    <button class="btn btn-primary m-sm">
                        <i class="fa fa-android fa-3x pull-left"></i>
                        <span>Загрузка для</span><br>
                        <b>Android</b>
                    </button>
                    <button class="btn btn-primary m-sm">
                        <i class="fa fa-apple fa-3x pull-left"></i>
                        <span>Загрузка для</span><br>
                        <b>Apple IOS</b>
                    </button>
                    <button class="btn btn-primary m-sm">
                        <i class="fa fa-windows fa-3x pull-left"></i>
                        <span>Web сайт</span><br>
                        <b>Windows</b>
                    </button>
                </div>

            </div>
        </div>

        <div class="row m-t-lg">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
                <p>Вы можете работать с системой Титимити через web-приложение, либо через Android или iOS приложение на
                    Вашем смартфоне. Мы стараемся сделать сделать работу с Титимити удобной и интуитивно понятной, чтобы
                    и отправители и перевозчики смогли сконцентрироваться на своих задачах.</p>
            </div>
        </div>
    </div>

</section>

<section id="video" class="gray-section">
    <div class="container">
        <div class="row">
            <div class="row m-b-sm">
                <div class="col-sm-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Правила Титимити</h1>

                    <p>
                        Работа курьером и перевозчиком может оказаться очень опасной, если не следовать правилам. Обязательно прочитайте <a href="{{ path('binidini_rules') }}" target="_blank">правила Титимити</a> и следуйте им.
                    </p>
                </div>
            </div>
            <div class="col-sm-12">
                <figure>
                    <iframe src="http://www.youtube.com/embed/C4G2LA1dLIo" frameborder="0" allowfullscreen="" data-aspectratio="0.8211764705882353" style="width: 730px; height: 599.458823529412px;"></iframe>
                </figure>
            </div>
            <div class="col-sm-12 text-center">
                <p>
                    Надеемся фильм Вам понравится и убедит следовать правилам Титимити. Возможно будет интересно пересмотреть сериал "Перевозчик".
                </p>
            </div>

        </div>
    </div>
</section>

<section id="contact" class="contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Контакты</h1>

                <p>Свяжитесь с нами удобным для Вас способом.</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="navy">ООО "Рудив"</span></strong><br/>
                    ОГРН: 1157847148326,<br/> ИНН: 7810349272<br/>
                    Россия, Санкт-Петербург,<br/>
                    ул. Благодатная, дом 69, корпус 1,<br/>
                    литер А, помещение 2/3 <br/>
                    <abbr title="Телефон">P:</abbr> +7 (952) 246-2308
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    Мы ищем партнеров во всех регионах России, а также по всему миру. Мы будем рады обсудить любые
                    варианты сотрудничества с потенциальными партнерами. Мы верим в открытость и искренность и уверены,
                    что это ключи к успеху.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:contacts@tytymyty.ru" class="btn btn-primary">Напишите нам</a>

                <p class="m-t-sm">
                    Мы в социальных сетях
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-vk"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2015 Титимити</strong><br/> Титимити 24/7 доставка и отправка чего-либо куда-либо</p>
            </div>
        </div>
    </div>
</section>

<script src="{{ asset('bundles/binidiniweb/js/jquery-2.1.1.js') }}"></script>
<script src="{{ asset('bundles/binidiniweb/js/plugins/pace/pace.min.js') }}"></script>
<script src="{{ asset('bundles/binidiniweb/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('bundles/binidiniweb/js/landing/classie.js') }}"></script>
<script src="{{ asset('bundles/binidiniweb/js/landing/cbpAnimatedHeader.js') }}"></script>
<script src="{{ asset('bundles/binidiniweb/js/landing/inspinia.js') }}"></script>

<script src="{{ asset('bundles/binidiniweb/js/plugins/video/responsible-video.js') }}"></script>

</body>
</html>