<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Титимити - это народная дешевая доставка">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Титимити - народная доставка</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/binidiniweb/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/binidiniweb/font-awesome/css/font-awesome.css') }}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/binidiniweb/css/landing.css') }}" rel="stylesheet">
</head>
<body id="page-top">
<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#page-top"><img src="{{ asset('bundles/binidiniweb/img/logo.png') }}"/></a><br/>
                Титимити по пути

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="navbar-brand" href="{{ path('binidini_search_shipment_private_index') }}">Вход</a><br/><br/><br/></li>
                    <li><a class="page-scroll" href="{{ path('fos_user_registration_register') }}">Регистрация</a></li>
                    <li><a class="page-scroll" href="{{ path('binidini_how_it_works') }}">О нас</a></li>
                    <li><a class="page-scroll" href="#contact">Контакты</a></li>


                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption blank">
                    <div class="col-sm-12 wrapper wrapper-content animated fadeInUp">
                        <ul class="notes row text-center">
                            <li>
                                <a class="navy-link" href="{{ path('binidini_search_shipment_index') }}">
                                    <div class="sender">
                                        <h2>Нужно что-то отвезти?</h2>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="navy-link" href="{{ path('binidini_search_shipment_index') }}">
                                    <div class="carrier">
                                        <h2>Зарабатывайте по пути!</h2>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        {% if not is_mobile() %}
                        <ul class="notes row" id="orders">

                            <li>
                                <div>
                                    <a href="{{ path('binidini_search_shipment_index') }}" class="navy-link">
                                        <b class="time">{{ "now"|date("d.m") }} 23:45</b>
                                        <b class="price"><i class="fa fa-rub"></i>150</b>

                                        <h3>Букет роз</h3>
                                        <h4>Санкт-Петербург, ул. Маяковского, д. 22 </h4><h4> Санкт-Петербург, Нахимова
                                            ул., 5</h4>
                                    </a>
                                    <a href="#" class="clear"><i class="fa fa-trash-o "></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="red">
                                    <a href="{{ path('binidini_search_shipment_index') }}" class="navy-link">

                                        <b class="time">быстро</b>
                                        <b class="price">дешево</b>
                                        <br/>
                                        <span class="text-center">
                                            <h3>Ваш заказ</h3>
                                            <h4>Откуда</h4><h4>Куда</h4>
                                        </span>
                                        <br/>
                                        <b class="insurance">надежно</b>
                                    </a>
                                    <a href="#" class="clear"><i class="fa fa-trash-o "></i></a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{{ path('binidini_search_shipment_index') }}" class="navy-link">
                                        <b class="time">{{ "now" | date_modify("+1 day") | date("d.m") }} 14:30</b>
                                        <b class="price"><i class="fa fa-rub"></i>200</b>
                                        <h3>Документы</h3>
                                        <h4>Санкт-Петербург, Невский пр., д. 22 </h4><h4> Санкт-Петербург, Ветеранов пр., 5</h4>
                                    </a>
                                    <a href="#" class="clear"><i class="fa fa-trash-o "></i></a>
                                </div>
                            </li>
                        </ul>
                        <ul class="row notes" id="orders2">
                            <li>
                                <div >
                                    <a href="{{ path('binidini_search_shipment_index') }}" class="navy-link">
                                        <b class="time">{{ "now" | date_modify("+7 day") | date("d.m") }} 12:00</b>
                                        <b class="price"><i class="fa fa-rub"></i>2000</b>
                                        <h3>Фотоальбом</h3>
                                        <h4>Россия, Москва, Тверская ул., д. 2 </h4><h4>234 West 48th Street, New York, NY, USA</h4>
                                    </a>
                                    <a href="#" class="clear"><i class="fa fa-trash-o "></i></a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{{ path('binidini_search_shipment_index') }}" class="navy-link">
                                        <b class="time">{{ "now" | date_modify("+7 day") | date("d.m") }} 12:00</b>
                                        <b class="price"><i class="fa fa-rub"></i>250</b>
                                        <h3>Старый диван</h3>
                                        <h4>Санкт-Петербург, Савушкина, д. 7 </h4><h4> Ленинградская обл., Тосно, Ленина пр., 5</h4>
                                    </a>
                                    <a href="#" class="clear"><i class="fa fa-trash-o "></i></a>
                                </div>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="header-back one"></div>
        </div>
    </div>
</div>

<section class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Титимити - это народная доставка.</h1>
            <h2>
                Недорогая доставка с попутчиком или курьером. Зарабатывайте по пути домой и на работу.
            </h2>

        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center">
            <div>
                <i class="fa fa-rub features-icon"></i>

                <h3>Малому бизнесу</h3>

                <p>Экономьте на стоимости доставки. Выбирайте подходящих вашему бизнесу курьеров.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-bitcoin features-icon"></i>

                <h3>Интернет-магазинам</h3>

                <p>Найдите более дешевый способ отправки и доставки интернет покупок.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-users features-icon"></i>

                <h3>Частным лицам</h3>

                <p>Экономьте на доставке товаров. Покройте расходы на бензин, став курьеров по пути своего маршрута.</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/bundles/binidiniweb/img/landing/tree.png" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center">
            <div>
                <i class="fa fa-taxi carrier-icon"></i>

                <h3>Таксистам, курьерам</h3>

                <p>Откройте новый поток заказов. Выбирайте интересные заказы в удобных районах.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-user carrier-icon"></i>

                <h3>Студентам</h3>

                <p>Способ заработка наличных, не мешающий учебе. Найдите заказы недалеко от дома, места учебы и
                    зарабатывайте походу карманные деньги.</p>
            </div>
            <div>
                <i class="fa fa-truck carrier-icon"></i>

                <h3>Перевозчикам</h3>

                <p>Вы едите в дальнюю поезду и у вас есть место в машине. Почему не получить по пути дополнительный
                    заработок.</p>
            </div>
        </div>
    </div>
</section>

<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-3">
            <h2>Быстро</h2>
            <p>
                Как только заказ попадает в систему десятки курьеров в районе отправителя получают уведомления и
                в течение минут смогут забрать заказ.
            </p>

        </div>
        <div class="col-sm-3">
            <h2>Надежно</h2>

            <p>
                Гарантия оплаты, страховка от потери и порчи заказа, рейтинги отправителей и перевозчиков делают систему безопасной.
            </p>

        </div>
        <div class="col-sm-3">
            <h2>Дешево</h2>

            <p>
                Отправитель назначает цену заказа, перевозчик соглашается или устанавливает цену перевозки. Данная система позволяет найти справедливую цену.
            </p>

        </div>
        <div class="col-sm-3">
            <h2>Просто и удобно</h2>

            <p>
                Титимити делает все, чтобы клиентом было удобно работать в системе. Мы стараемся оперативно реагировать на запросы наших клиентов.
            </p>

        </div>
    </div>
</section>

<section id='price' class="features gray-section ">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Почему выбирают Титимити?</h1>

                <h2>
                    Вы зарабатываете деньги по дороге домой. Вы экономите на доставке и оптимизируете расходы на перевозку.
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <h3>Дешевая доставка</h3>
                <i class="fa fa-dollar big-icon pull-right"></i>

                <p>
                    Рыночный способ определения стоимости заданий позволяет установить по-настоящему справедливую цену.
                    Никаких ставок и тарифов! Ведите переговоры, торгуйтесь, экономьте и зарабатывайте на Титимити.
                </p>
            </div>
            <div class="col-lg-5 features-text">
                <h3>Гарантия оплаты</h3>
                <i class="fa fa-euro big-icon pull-right"></i>

                <p>
                    Отправитель может гарантировать оплату. При этом на счете отправителя замараживается необходимая сумма
                    После выполнения заказа перевозчик разблокирует деньги отправителя.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <h3>Надежная страховка</h3>
                <i class="fa fa-ruble big-icon pull-right"></i>

                <p>
                    В случае неоходимости система Титимити замораживает необходимую сумму на счете перевозчика до момента
                    выполнения заказа. После выполнения заказа отправитель разблокирует деньги перевозчика.
                </p>
            </div>
            <div class="col-lg-5 features-text">
                <h3>Никаких комиссионных</h3>
                <i class="fa fa-yen big-icon pull-right"></i>

                <p>
                    Наша задача – связать отправителей и перевозчиков, дать им возможность договориться и выполнить
                    необходимые задачи с выгодой для каждой стороны. Титимити не участвует в процессе ценообразования и
                    оплаты работы. Мы не берем комиссионных!
                </p>
            </div>
        </div>    </div>
</section>

<section id='secure' class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Гарантия оплаты и страхование доставки.</h1>

                <h2>Титимити обеспечивает безопасность ваших сделок, не вмешиваясь в их суть.</h2>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-3 features-text">
                <h3>Страхование заказа для отправителя</h3>

                <p>
                    Сумма, назначаемая отправителем, замораживается на счете перевозчика и возвращается после подтверждения отправителем доставки.
                </p>
                <a href="{{ path('binidini_how_it_works')~'#faq3' }}" class="btn btn-primary">Подробнее...</a>
            </div>
            <div class="col-lg-6 text-right m-t-n-lg">
                <img src="/bundles/binidiniweb/img/landing/страхование.png" class="img-responsive" alt="Страхование рисков" title="Страхование рисков">
            </div>
            <div class="col-lg-3 features-text text-right">
                <h3>Гарантия оплаты для перевозчика</h3>

                <p>
                    Сумма, назначаемая отправителем, замораживается на счете отправителя и возвращается после подтверждения оплаты перевозчиком.
                </p>
                <a href="{{ path('binidini_how_it_works')~'#faq4' }}" class="btn btn-primary">Подробнее...</a>
            </div>
        </div>
    </div>

</section>

<section class="features gray-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Гибкая система уведомлений</h1>

                <h2>Мы предоставляем информацию о перемещении заказа онлайн, через email, смс и пуш-сообщения.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <h3>Онлайн уведомления</h3>
                <i class="fa fa-clock-o big-icon pull-right"></i>

                <p>
                    Как только пользователь входит в систему он получает уведомления. Отправитель получает уведомления о новых заявках на перевозку. Перевозчик же получает
                    уведомления о принятых отправителем заявках.
                </p>
            </div>
            <div class="col-lg-5 features-text">
                <h3>Смс оповещения</h3>
                <i class="fa fa-comments-o big-icon pull-right"></i>

                <p>
                    Для оперативного оповещения Титимити рассылает смс сообщения на важные события. Отправители и перевозчики всегда могут настроить необходимые смс оповещения
                    в настройках на своей странице.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <h3>Email сообщения</h3>
                <i class="fa fa-envelope-o big-icon pull-right"></i>

                <p>
                    Все уведомления отсылаются на электронную почту. Пользователю необходимо верифицировать свой почтовый ящик для того чтобы получать уведомления на email.
                </p>
            </div>
            <div class="col-lg-5 features-text">
                <h3>Настройка уведомлений</h3>
                <i class="fa fa-gears big-icon pull-right"></i>

                <p>
                    Любые уведомления по смс и на электронную почту можно включать и отключать. Выбирайте только важные для вас уведомления.
                </p>
            </div>
        </div>
    </div>

</section>


<section id="application" class="features">
    <div class="container">
        <div class="row m-b-sm">
            <div class="col-sm-12 text-center">
                <div class="navy-line"></div>
                <h1>Мобильное приложение</h1>

                <h2>Выберите удобную для Вас платформу и присоединяйтесь к Титимити Mobile.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="platforms">
                    <a href="https://play.google.com/store/apps/details?id=com.binidini.tytymyty&hl=ru" class="btn btn-primary m-sm">
                        <i class="fa fa-android fa-3x pull-left"></i>
                        <span>Загрузка для</span><br>
                        <b>Android</b>
                    </a>
                    <a href="https://itunes.apple.com/us/app/titimiti/id1037787278?l=ru&ls=1&mt=8" class="btn btn-primary m-sm">
                        <i class="fa fa-apple fa-3x pull-left"></i>
                        <span>Загрузка для</span><br>
                        <b>Apple IOS</b>
                    </a>
                </div>

            </div>
        </div>

        <div class="row m-t-lg">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
                <p>Вы можете работать с системой Титимити через web-приложение, либо через Android <!-- или iOS -->приложение на
                    Вашем смартфоне. Мы стараемся сделать сделать работу с Титимити удобной и интуитивно понятной, чтобы
                    и отправители и перевозчики смогли сконцентрироваться на своих задачах.</p>
            </div>
        </div>
    </div>

</section>

<section id="rest" class="features gray-section">
    <div class="container">
        <div class="row m-b-sm">
            <div class="col-sm-12 text-center">
                <div class="navy-line"></div>
                <h1>Интеграция с интернет-магазинами и не только...</h1>

                <h2>Воспользуйтесь Титимити REST API для интеграция с нашим сервисом.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-lg-6 m-t-lg">
                    <img src="/bundles/binidiniweb/img/landing/rest-api.png" class="img-responsive" alt="dashboard">
                </div>
                <div class="col-lg-6">
                    <h3>Титимити API</h3>

                    <p>
                        Свяжитесь с нами, чтобы получить access_token и пользуйтесь Титимити API.
                        Если Вам нужна помощь, обратитесь в службу технической поддержки.
                    </p>
                    <a href="{{ path('binidini_rest_api') }}" class="btn btn-primary">Документация</a>
                </div>

            </div>
        </div>

        <div class="row m-t-lg">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
                <p>Нашим партнерам и друзьям мы предлагаем воспользоваться Титимити REST API для автоматизации
                    интеграции с нашим сервисом. Мы стараемся оперативно расширять наше API по просьбе наших партнеров.
                    Если Вы не нашли чего-либо в API, просто напишите нам и мы сделаем все возможное, чтобы помочь Вам.
                </p>
            </div>
        </div>
    </div>

</section>

<section id="application" class="features">
    <div class="container">
        <div class="row m-b-sm">
            <div class="col-sm-12 text-center">
                <div class="navy-line"></div>
                <h1>Наши партнеры</h1>

                <h2>Партнеры — это путники идущие вместе пока есть общая цель.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="partners">
                    <a href="http://www.tudatuda.ru" alt="Народная почта ТУДАТУДА - доставка с путешественниками www.tudatuda.com">
                        <img src="/bundles/binidiniweb/img/landing/tudatuda.png" class="img-responsive">
                    </a>
                </div>

            </div>
        </div>

        <div class="row m-t-lg">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
                <p>В конечном итоге все сводится к дружбе.
                    Навыки у людей в одной профессии, одной компании все равно схожи.
                    Поэтому я еще раз утомительно напоминаю: не важно, какую должность вы занимаете и что делаете.
                    Определять, достигнете вы цели или нет, будут ваши удачи в привлечении сторонников и забота о них.</p>
            </div>
        </div>
    </div>

</section>

<section id="contact" class="features gray-section">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Контакты</h1>

                <h2>Свяжитесь с Титимити удобным для Вас способом.</h2>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="navy">ООО "Рудив"</span></strong><br/>
                    ОГРН: 1157847148326,<br/> ИНН: 7810349272<br/>
                    Россия, Санкт-Петербург,<br/>
                    ул. Благодатная, дом 69, корпус 1,<br/>
                    литер А, помещение 2/3 <br/>
                    <abbr title="Телефон">Тел:</abbr> +7 (921) 093-43-34 <br/>
                    <abbr title="Электронный адрес">Email:</abbr> contacts<b>@</b>tytymyty.ru
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    Мы ищем партнеров во всех регионах России, а также по всему миру. Мы будем рады обсудить любые
                    варианты сотрудничества с потенциальными партнерами. Мы верим в открытость и искренность и уверены,
                    что это ключи к успеху.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">

                <p class="m-t-sm">
                    Мы в социальных сетях
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="https://twitter.com/_tytymyty"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/tytymyty.ru"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://instagram.com/tytymyty.ru/"><i class="fa fa-instagram"></i> </a> </li>
                    <li><a href="https://vk.com/tytymyty"><i class="fa fa-vk"></i></a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2015 Титимити</strong><br/> Титимити 24/7 доставка и отправка чего-либо куда-либо</p>
            </div>
        </div>
    </div>
</section>

<script src="{{ asset('bundles/binidiniweb/js/jquery-2.1.1.js') }}"></script>
<script src="{{ asset('bundles/binidiniweb/js/plugins/pace/pace.min.js') }}"></script>
<script src="{{ asset('bundles/binidiniweb/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('bundles/binidiniweb/js/landing/classie.js') }}"></script>
<script src="{{ asset('bundles/binidiniweb/js/landing/cbpAnimatedHeader.js') }}"></script>
<script src="{{ asset('bundles/binidiniweb/js/landing/inspinia.js') }}"></script>

<script src="{{ asset('bundles/binidiniweb/js/plugins/video/responsible-video.js') }}"></script>

<script>
    $("#orders a.clear").click(function() {
        $(this).parent().remove();
        return false;
    });
    $("#orders2 a.clear").click(function() {
        $(this).parent().remove();
        return false;
    });
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter32225569 = new Ya.Metrika({
                    id:32225569,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/32225569" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Google.Analytics counter -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-72662902-1', 'auto');
    ga('send', 'pageview');

</script>
<!-- /Google.Analytics counter -->

<!--VK ретаргетинг -->
<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=vTYeTkGF5uNns*9j5mn8bgJz75jSJCwYpEGPhtMbf4xPg6GquJfcPeI6nNSCnPrBI5EWhtopjULq4qlOuRHd3GZfODa34YZJVaTIIsXUYyPQWbn2YGuQw/IZluKSTm6b0f6LfY5SjNE81CgNLMadP42HP4aFN8c04c29HOF5rF0-';</script>
<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=qsxz1CZCeeJ7Sk1mtJsDbNYrFm0W/ZlB6nl01Vfraq3oU1GPLfckSrgxsiclaNCPgD1hTHvpGZTj6zkQI992oyhuRp53NQnGt66nClAkqjQHyASp1EocR9mnwfy/3h7HY7a0hzUxNIAS1e2jopOQCEn07K2vL*8mIgWChrP*dQE-';</script>
<!--/VK ретаргетинг -->


</body>
</html>