{% extends 'BinidiniWebBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/binidiniweb/css/plugins/slick/slick.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/binidiniweb/css/plugins/slick/slick-theme.css') }}" rel="stylesheet">

{% endblock %}

{% block title %}
    Автоматизация службы доставки
{% endblock %}

{% block pageheader %}Автоматизация службы доставки{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">
            Решения для курьерских служб и служб доставки
        </li>
    </ol>
{% endblock %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox product-detail">
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-5">


                                <div class="product-images">

                                    <div>
                                        <img src="{{ asset('bundles/binidiniweb/img/pics/tytymyty_3.jpg') }}" alt="Служба доставки Титимити" class="img-thumbnail">
                                    </div>
                                    <div>
                                        <img src="{{ asset('bundles/binidiniweb/img/pics/tytymyty_1.jpg') }}" alt="Служба доставки Титимити" class="img-thumbnail">
                                    </div>
                                    <div>
                                        <img src="{{ asset('bundles/binidiniweb/img/pics/tytymyty_20.jpg') }}" alt="Служба доставки Титимити" class="img-thumbnail">
                                    </div>
                                    <div>
                                        <img src="{{ asset('bundles/binidiniweb/img/pics/tytymyty_2.jpg') }}" alt="Служба доставки Титимити" class="img-thumbnail">
                                    </div>
                                    <div>
                                        <img src="{{ asset('bundles/binidiniweb/img/pics/tytymyty_4.jpg') }}" alt="Служба доставки Титимити" class="img-thumbnail">
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-7">

                                <h2 class="font-bold m-b-xs text-success">
                                    <i class="fa fa-sort-amount-desc payment-icon-big"></i>Служба доставки «Титимити»
                                </h2>
                                <small>«Эконом» решение, которое поможет максимально оптимизировать службу доставки.</small>
                                <div class="m-t-md">
                                    <h2 class="product-main-price"><i class="fa fa-rub"></i> бесплатно <small class="text-muted">абсолютно</small> </h2>
                                </div>
                                <hr>

                                <h4>На платформе Титимити.ру</h4>

                                <div class="small text-muted">
                                    Используйте сервис Титимити для доставки заказов ваших курьеров. Диспетчер может регистрировать заказы на доставку через сайт Титимити.ру,
                                    а курьеры используя мобильные приложения брать эти заказы. Работайте со своими курьерами или нанимайте свободных курьеров.
                                    Титимити - отличный инструмент в умелых руках.
                                    <br/>
                                    <br/>
                                    Если вы хотите иметь выделенный сервис только для своих курьеров и диспетчеров,
                                    воспользуйтесь пакетом «Титимити Оптима».
                                    <br/>
                                    <br/>
                                    Если вам важно иметь систему доставок на ваших серверах, воспользуйтесь пакетом «Титимити Pro».
                                </div>
                                <br/>
                                <ul>
                                    <li>
                                        Никаких комиссионных.
                                        <i class="fa fa-rub text-success pull-right"></i>
                                    </li>
                                    <li>
                                        Возможность страхования заказа от порчи и утраты.
                                        <i class="fa fa-usd text-success pull-right"></i>
                                    </li>
                                    <li>
                                        Мгновенные уведомления через пуш и смс сообщения.
                                        <i class="fa fa-eur text-success pull-right"></i>
                                    </li>
                                    <li>
                                        Никаких тарифов. Устанавливайте свою цену на доставку.
                                        <i class="fa fa-gbp text-success pull-right"></i>
                                    </li>
                                    <li>
                                        Рейтинги и отзывы для курьеров.
                                        <i class="fa fa-yen text-success pull-right"></i>
                                    </li>
                                    <li>
                                        Система геолакации находит ближайших  курьеров.
                                        <i class="fa fa-inr text-success pull-right"></i>
                                    </li>
                                    <li>
                                        Возможность работать на смартфоне, планшете и ПК для курьеров и диспетчеров.
                                        <i class="fa fa-try text-success pull-right"></i>
                                    </li>
                                    <li>
                                        Рейтинги и отзывы для курьеров.
                                        <i class="fa fa-btc text-success pull-right"></i>
                                    </li>
                                    <li>
                                        Автоматизация ввода заказов через Титимити API.
                                        <i class="fa fa-try text-success pull-right"></i>
                                    </li>
                                    <li>
                                        Механизм подтверждения доставки через «код подтверждения доставки».
                                        <i class="fa fa-btc text-success pull-right"></i>
                                    </li>
                                </ul>
                                <hr>

                                <div>
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm">Нам по пути</button>
                                        <a href="mailto:contacts@tytymyty.ru?subject=Служба доставки Титимити" class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> contacts@tytymyty.ru</a>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                    <div class="ibox-footer">
                            <span class="pull-right">
                                Программа для службы доставки «Титимити»
                            </span>
                        Программное обеспечение для службы доставки
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="ibox product-detail">
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-5">


                                <div class="product-images">

                                    <div>
                                        <img src="{{ asset('bundles/binidiniweb/img/pics/tytymyty_5.jpg') }}" alt="Служба доставки Титимити Оптима" class="img-thumbnail">
                                    </div>
                                    <div>
                                        <img src="{{ asset('bundles/binidiniweb/img/pics/tytymyty_6.jpg') }}" alt="Служба доставки Титимити Оптима" class="img-thumbnail">
                                    </div>
                                    <div>
                                        <img src="{{ asset('bundles/binidiniweb/img/pics/tytymyty_13.jpg') }}" alt="Служба доставки Титимити Оптима" class="img-thumbnail">
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-7">

                                <h2 class="font-bold m-b-xs text-warning">
                                   <i class="fa fa-sort-numeric-desc payment-icon-big"></i>Служба доставки «Титимити Оптима»
                                </h2>
                                <small>Оптимальное решение по параметру цена-качество.</small>
                                <div class="m-t-md">
                                    <h2 class="product-main-price"><i class="fa fa-rub"></i> 1 руб. <small class="text-muted">за доставку</small> </h2>
                                </div>
                                <hr>

                                <h4>Система доставки на ваших серверах</h4>

                                <div class="small text-muted">
                                    Вам нужен сервис доставки только для своих курьеров и своих диспетчеров? Тогда пакет
                                    «Титимити Оптима» для вас.
                                    <br/>
                                    <br/>
                                    Вы получаете дополнительную профессиональную тех. поддержку специалистов из компании Титимити.
                                    Вы можете быть спокойными, что сервис будет доступен 24/7 и у вас не будет проблем с производительностью.
                                    <br/>
                                    <br/>
                                    Если вам важно иметь систему доставок на ваших серверах, воспользуйтесь пакетом «Титимити Pro»
                                </div>
                                <br/>
                                <ul>
                                    <li>
                                        1 руб. за заказ
                                        <i class="fa fa-rub text-warning pull-right"></i>
                                    </li>
                                    <li>
                                        Возможность страхования заказа от порчи и утраты.
                                        <i class="fa fa-usd text-warning pull-right"></i>
                                    </li>
                                    <li>
                                        Мгновенные уведомления через пуш и смс сообщения.
                                        <i class="fa fa-eur text-warning pull-right"></i>
                                    </li>
                                    <li>
                                        Никаких тарифов. Устанавливайте свою цену на доставку.
                                        <i class="fa fa-gbp text-warning pull-right"></i>
                                    </li>
                                    <li>
                                        Рейтинги и отзывы для курьеров.
                                        <i class="fa fa-yen text-warning pull-right"></i>
                                    </li>
                                    <li>
                                        Система геолакации находит ближайших  курьеров.
                                        <i class="fa fa-inr text-warning pull-right"></i>
                                    </li>
                                    <li>
                                        Возможность работать на смартфоне, планшете и ПК для курьеров и диспетчеров.
                                        <i class="fa fa-try text-warning pull-right"></i>
                                    </li>
                                    <li>
                                        Рейтинги и отзывы для курьеров.
                                        <i class="fa fa-btc text-warning pull-right"></i>
                                    </li>
                                    <li>
                                        Автоматизация ввода заказов через Титимити API.
                                        <i class="fa fa-try text-warning pull-right"></i>
                                    </li>
                                    <li>
                                        Механизм подтверждения доставки через «код подтверждения доставки».
                                        <i class="fa fa-btc text-warning pull-right"></i>
                                    </li>
                                </ul>
                                <hr>

                                <div>
                                    <div class="btn-group">
                                        <button class="btn btn-warning btn-sm">Нам по пути</button>
                                        <a href="mailto:contacts@tytymyty.ru?subject=Служба доставки Титимити" class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> contacts@tytymyty.ru</a>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                    <div class="ibox-footer">
                            <span class="pull-right">
                                Программа для службы доставки «Титимити Оптима»
                            </span>
                        Программное обеспечение для службы доставки
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="ibox product-detail">
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-5">


                                <div class="product-images">

                                    <div>
                                        <img src="{{ asset('bundles/binidiniweb/img/pics/tytymyty_18.jpg') }}" alt="Служба доставки Титимити Pro" class="img-thumbnail">
                                    </div>
                                    <div>
                                        <img src="{{ asset('bundles/binidiniweb/img/pics/tytymyty_19.jpg') }}" alt="Служба доставки Титимити Pro" class="img-thumbnail">
                                    </div>
                                    <div>
                                        <img src="{{ asset('bundles/binidiniweb/img/pics/tytymyty_3.jpg') }}" alt="Служба доставки Титимити Pro" class="img-thumbnail">
                                    </div>
                                    <div>
                                        <img src="{{ asset('bundles/binidiniweb/img/pics/tytymyty_2.jpg') }}" alt="Служба доставки Титимити Pro" class="img-thumbnail">
                                    </div>
                                    <div>
                                        <img src="{{ asset('bundles/binidiniweb/img/pics/tytymyty_4.jpg') }}" alt="Служба доставки Титимити Pro" class="img-thumbnail">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-7">

                                <h2 class="font-bold m-b-xs text-danger">
                                    <i class="fa fa-sort-numeric-desc payment-icon-big"></i>Служба доставки «Титимити Pro»
                                </h2>
                                <small>Безопасное решение для  тех, кто любит держать все подконтролем.</small>
                                <div class="m-t-md">
                                    <h2 class="product-main-price"><i class="fa fa-rub"></i> <small class="text-muted">цена договорная</small> </h2>
                                </div>
                                <hr>

                                <h4>Система доставки на ваших серверах</h4>

                                <div class="small text-muted">
                                    Вы хотите держать все сервисы на своих серверах? Для вас критичны вопросы контроля и безопасности?
                                    «Титимити Pro» - ваше решение.
                                    <br/>
                                    <br/>
                                        Наши специалисты детально проконсультируют как работать с системой.
                                    <br/>
                                    <br/>
                                        При необходимости наши технические специалисты  будут поддерживать вашу систему доставок или предоставят необходимые консультации.
                                </div>
                                <br/>
                                <ul>
                                    <li>
                                        Техническая поддержка.
                                        <i class="fa fa-rub text-danger pull-right"></i>
                                    </li>
                                    <li>
                                        Безопасность и полный контроль над системой заказов.
                                        <i class="fa fa-usd text-danger pull-right"></i>
                                    </li>
                                    <li>
                                        Мгновенные уведомления через пуш и смс сообщения.
                                        <i class="fa fa-eur text-danger pull-right"></i>
                                    </li>
                                    <li>
                                        Выделенный менеджер сопровождения..
                                        <i class="fa fa-gbp text-danger pull-right"></i>
                                    </li>
                                    <li>
                                        Рейтинги и отзывы для курьеров.
                                        <i class="fa fa-yen text-danger pull-right"></i>
                                    </li>
                                    <li>
                                        Система геолакации находит ближайших  курьеров.
                                        <i class="fa fa-inr text-danger pull-right"></i>
                                    </li>
                                    <li>
                                        Возможность работать на смартфоне, планшете и ПК для курьеров и диспетчеров.
                                        <i class="fa fa-try text-danger pull-right"></i>
                                    </li>
                                    <li>
                                        Рейтинги и отзывы для курьеров.
                                        <i class="fa fa-btc text-danger pull-right"></i>
                                    </li>
                                    <li>
                                        Автоматизация ввода заказов через Титимити API.
                                        <i class="fa fa-try text-danger pull-right"></i>
                                    </li>
                                    <li>
                                        Механизм подтверждения доставки через «код подтверждения доставки».
                                        <i class="fa fa-btc text-danger pull-right"></i>
                                    </li>
                                </ul>
                                <hr>

                                <div>
                                    <div class="btn-group">
                                        <button class="btn btn-danger btn-sm">Нам по пути</button>
                                        <a href="mailto:contacts@tytymyty.ru?subject=Служба доставки Титимити" class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> contacts@tytymyty.ru</a>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                    <div class="ibox-footer">
                            <span class="pull-right">
                                Программа для службы доставки «Титимити Pro»
                            </span>
                        Программное обеспечение для службы доставки
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- slick carousel-->
    <script src="{{ asset('bundles/binidiniweb/js/plugins/slick/slick.min.js') }}"></script>

    <script>
        $(document).ready(function(){

            $('.product-images').slick({
                dots: true
            });

        });

    </script>


{% endblock %}