{% extends 'BinidiniWebBundle::layout_api.html.twig' %}

{% block title %}
    Титимити iPhone
{% endblock %}


{% block content %}


    <div class="wrapper wrapper-content animated fadeInRight">
        <a href="{{ path('binidini_iphone_faq02') }}" class="btn btn-primary pull-right">Отправителям сюда</a>

        <div class="ibox">
            <div class="ibox-title">
                <h5>Титимити - App Store</h5>
            </div>
            <div class="ibox-content">

                <div class="team-members">
                    <img class="thumbnail center-block img-responsive"
                         src="{{ asset('bundles/binidiniweb/img/iphone/tytymyty_app_store.jpg') }}"
                         alt="Tytynyty on App Store" title="App Store">
                </div>
                <p>
                    Чтобы начать работать с приложением Титимити под iPhone, прежде всего Вам нужно установить его с App
                    Store.
                </p>

                <p>
                    Наберите в поиске App Store «титимити» или «tytymyty» и App Store предложит Вам установить
                    приложение народной доставки Титимити.
                </p>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Титимити - регистрация</h5>
            </div>
            <div class="ibox-content">

                <div class="team-members">
                    <img class="thumbnail center-block img-responsive"
                         src="{{ asset('bundles/binidiniweb/img/iphone/tytymyty_iphone_registration.jpg') }}"
                         alt="Титимити - регистрация" title="Регистрация">
                </div>
                <p>
                    Если Вы не зарегистрировались на сайте Титимити.Ру, Вы можете зарегистрироваться также в приложении
                    Титимити под iPhone. Для этого на начальном экране
                    приложения кликните на текстовую ссылку «Зарегистрироваться»
                </p>

                <p>
                    На следующем экране введите 10 значный номер Вашего телефона, например 9213334455.
                </p>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Титимити - ближайшие заказы</h5>
            </div>
            <div class="ibox-content">

                <div class="team-members">
                    <img class="thumbnail center-block img-responsive"
                         src="{{ asset('bundles/binidiniweb/img/iphone/tytymyty_iphone_near.jpg') }}"
                         alt="Титимити заказы рядом" title="Заказы рядом">
                </div>
                <p>
                    Ближайшие заказы - основной экран, который появляется после входа в программу. Здесь отображаются
                    все заказы по мере удаления от
                    пользователя. В телефоне необходимо включить функцию определения местоположения, без этого заказы
                    будут отображаться в неотсортированном порядке.
                </p>

                <p>
                    В списке находится краткая информация о заказе: что, откуда и куда вести, крайнее время прибытия к
                    получателю, а также стоимость, предложенная отправителем.
                </p>

                <p>
                    В верхней части экрана находится иконка сортировки, форма поиска заказа по адресу, переключатель
                    сортировки заказов по адресу отправления или адресу доставки.
                </p>

                <p>
                    Обновить список можно потянув список вниз.
                </p>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Титимити - нижнее меню</h5>
            </div>
            <div class="ibox-content">

                <div class="team-members">
                    <img class="thumbnail center-block img-responsive"
                         src="{{ asset('bundles/binidiniweb/img/iphone/tytymyty_iphone_bottom_menu.jpg') }}"
                         alt="Титимити - нижнее меню" title="Нижнее меню">
                </div>
                <p>
                    В нижнем меню находятся разделы: «Заказы», «Мои перевозки» («Активные» и «Завершенные), «Мои
                    отправки» («Активные», «Завершенные» и «Новый заказ»), «Настройки»
                </p>

                <p>
                    В «Заказах» находятся новые заказы, отсортированные по удаленности от клиента или от введенного в
                    поиске адреса. «Мои перевозки» - раздел для перевозчиков, «Мои отправки» -
                    раздел для отправителей.
                </p>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Титимити - верхнее меню</h5>
            </div>
            <div class="ibox-content">

                <div class="team-members">
                    <img class="thumbnail center-block img-responsive"
                         src="{{ asset('bundles/binidiniweb/img/iphone/tytymyty_iphone_top_menu.jpg') }}"
                         alt="Титимити - верхнее меню" title="Верхнее меню">
                </div>
                <p>
                    В верхнем меню раздела «Заказы» находится диалог сортировки по цене или времени доставки заказов,
                    находящихся примерно на одном расстоянии
                    от владельца телефона или адреса введенного в поиске.
                </p>

            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Титимити - детали заказа</h5>
            </div>
            <div class="ibox-content">

                <div class="team-members">
                    <img class="thumbnail center-block img-responsive"
                         src="{{ asset('bundles/binidiniweb/img/iphone/tytymyty_iphone_details.jpg') }}"
                         alt="Титимити - детали заказа" title="Детали заказа">
                </div>
                <p>
                    В деталях заказа находится вся информация о заказе, в том числе сумма страховки, сумма гарантии,
                    фото заказа, отправитель, комментарии отправителя,
                    ссылка на карту в Яндекс.картах или Google maps
                </p>

                <p>
                    Перевозчик может подать заявку на перевозку, по цене отправителя или по своей цене.
                </p>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Титимити - заявки на перевозку</h5>
            </div>
            <div class="ibox-content">

                <div class="team-members">
                    <img class="thumbnail center-block img-responsive"
                         src="{{ asset('bundles/binidiniweb/img/iphone/tytymyty_iphone_bids.jpg') }}"
                         alt="Титимити - заявки на перевозку" title="Заявки на перевозку">
                </div>
                <p>
                    Заявки на перевозку заказа от всех перевозчиков отображаются во вкладке «Заявки».
                </p>

                <p>
                    В заявках можно посмотреть статус заявки, ее цену и ссылку на перевозчика.
                </p>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Титимити - согласование заявки</h5>
            </div>
            <div class="ibox-content">

                <div class="team-members">
                    <img class="thumbnail center-block img-responsive"
                         src="{{ asset('bundles/binidiniweb/img/iphone/tytymyty_iphone_bid_agree.jpg') }}"
                         alt="Титимити - согласовать заявку" title="Согласование заявки">
                </div>
                <p>
                    После того, как отправитель принял заявку, перевозчик может либо отказаться "в последний момент",
                    либо принять заявку к исполнению, нажав кнопку «Поехать».
                </p>

                <p>
                    Перед принятием окончательного решения перевозчик может позвонить отправителю и уточнить детали
                    заказа. Например, время забора заказа в пункте отправления,
                    порядок оплаты, информацию о получателе и др.
                </p>

                <p>
                    Известна ошибка - на некоторых телефонах кнопки появляются не сразу. Будет исправлено в ближайшем
                    релизе.
                </p>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Титимити - заказ принят</h5>
            </div>
            <div class="ibox-content">

                <div class="team-members">
                    <img class="thumbnail center-block img-responsive"
                         src="{{ asset('bundles/binidiniweb/img/iphone/tytymyty_iphone_accepted.jpg') }}"
                         alt="Титимити - заказ принят" title="Заказ принят">
                </div>
                <p>
                    После того как перевозчик нажал кнопку «Поехать», заказ переходит в состояние «Принят» и больше не
                    доступен для других перевозчиков.
                    После доставки перевозчик должен нажать кнопку «Доставлен».
                </p>

                <p>
                    У перевозчика появляется кнопка <i class="fa fa-phone"></i> - позвонить отправителю, а у отправителя
                    - позвонить перевозчику.
                </p>

            </div>
        </div>
        <div class="ibox" id="messages">
            <div class="ibox-title">
                <h5>Титимити - переписка по заказу</h5>
            </div>
            <div class="ibox-content">

                <div class="team-members">
                    <img class="thumbnail center-block img-responsive"
                         src="{{ asset('bundles/binidiniweb/img/iphone/tytymyty_iphone_messages.jpg') }}"
                         alt="Титимити - переписка по заказу" title="Переписка по заказу">
                </div>
                <p>
                    Перевозчик и отправитель могут общаться друг с другом посредством сообщений.
                </p>

                <p>
                    Это бесплатная функция идет в дополнение к возможности позвонить друг другу.
                </p>
            </div>
        </div>
        <div class="ibox" id="delivered">
            <div class="ibox-title">
                <h5>Титимити - заказ доставлен</h5>
            </div>
            <div class="ibox-content">

                <div class="team-members">
                    <img class="thumbnail center-block img-responsive"
                         src="{{ asset('bundles/binidiniweb/img/iphone/tytymyty_iphone_delivered.jpg') }}"
                         alt="Титимити - заказ доставлен" title="Заказ доставлен">
                </div>
                <p>
                    После того, как перевозчик доставил заказ и нажал кнопку «Доставлен», заказ переходит в статус
                    «Доставлен» и ожидается, когда отправитель оплатит заказ, если
                    еще этого не было сделано.
                </p>

                <p>
                    Возможно, что была произведена предоплата и тогда отправитель сразу нажмет кнопку «Оплатить».
                </p>

            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Титимити - заказ оплачен</h5>
            </div>
            <div class="ibox-content">

                <div class="team-members">
                    <img class="thumbnail center-block img-responsive"
                         src="{{ asset('bundles/binidiniweb/img/iphone/tytymyty_iphone_paid.jpg') }}"
                         alt="Титимити - заказ оплачен" title="Заказ оплачен">
                </div>
                <p>
                    Только после того как перевозчик действительно получил оплату за заказ, он должен подтвердить оплату
                    нажав кнопку «Подтвердить оплату».
                </p>

                <p>
                    После это заказ переходит в статус «Завершен» и переходит в архив заказов.
                </p>

            </div>
        </div>

        <div class="ibox" id="complete">
            <div class="ibox-title">
                <h5>Титимити - заказ завершен</h5>
            </div>
            <div class="ibox-content">

                <div class="team-members">
                    <img class="thumbnail center-block img-responsive"
                         src="{{ asset('bundles/binidiniweb/img/iphone/tytymyty_iphone_complete.jpg') }}"
                         alt="Титимити - заказ завершен" title="Заказ завершен">
                </div>
                <p>
                    После подтверждения оплаты, заказ переходит в статус «Завершен» и переносится в архив заявок.
                </p>

                <p>
                    На сайте tytymyty.ru отправитель и перевозчик могут оставить отзыв друг о друге и выставить оценку
                    по заказу, что отразится на рейтинге и отправителя, и перевозчика.
                </p>
            </div>
        </div>


        <div class="ibox" id="map">
            <div class="ibox-title">
                <h5>Титимити - карта маршрута</h5>
            </div>
            <div class="ibox-content">

                <div class="team-members">
                    <img class="thumbnail center-block img-responsive"
                         src="{{ asset('bundles/binidiniweb/img/iphone/tytymyty_iphone_ya_map.jpg') }}"
                         alt="Титимити - карта маршрута" title="Карта маршрута">
                </div>
                <p>
                    Перевозчик может воспользоваться картой маршрута. Для этого необходимо установить Яндекс.Карты и
                    Яндекс.Навигатор
                </p>
            </div>
        </div>


        <div class="ibox">
            <div class="ibox-title">
                <h5>Титимити - поиск по адресу или городу</h5>
            </div>
            <div class="ibox-content">

                <div class="team-members">
                    <img class="thumbnail center-block img-responsive"
                         src="{{ asset('bundles/binidiniweb/img/iphone/tytymyty_iphone_search.jpg') }}"
                         alt="Титимити - поиск по адресу" title="Поиск по адресу">
                </div>
                <p>
                    Задав адрес (или город, или населенный пункт), можно найти заказы по мере удаления от этого адреса.
                </p>

                <p>
                    Наберайте адрес до тех пор пока не появится подсказка.
                </p>

            </div>
        </div>

    </div>

{% endblock %}
