{% if bids.nbresults > 0 %}
    {% if bids.nbresults > 0 %}

        <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="fa fa-bell"></i>  <span class="label label-primary">{{ bids.nbresults }}</span>
            </a>
            <ul class="dropdown-menu dropdown-messages">
                {% set i = 0 %}
                {% for bid in bids %}
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="{{ path('binidini_core_shipping_show', {'id': bid.shipping.id}) }}" class="pull-left">
                                <img alt="image" class="img-circle" src="img/a7.jpg">
                            </a>
                            <div >
                                <a href="{{ path('binidini_core_shipping_show', {'id': bid.shipping.id}) }}" class="pull-right btn btn-primary ">{{ bid.price | price }}</a>
                                <strong>{{ bid.sender.name }}</strong> принял Вашу заявку. <br>
                                <small class="text-muted">{{ bid.createdAt | timeago }}, {{ bid.createdAt | localizeddate('long', 'none', null, null, 'd MMMM в H:mm') }}</small>
                            </div>
                        </div>
                    </li>
                    {% set i = i + 1 %}
                    {% if i < bids.nbresults %}
                        <li class="divider"></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>

    {% endif %}
{% endif %}