{% set shipping_id = app.request.get('shipping_id') %}
{{ shippinga }}

{{ form_start(form, {'action': path('binidini_core_bid_new', {'shipping_id': shipping_id}), 'attr': {'class': 'form-horizontal'} }) }}
{{ form_errors(form) }}
<div class="form-group">
    <div class="col-sm-2">
        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-sm-7">
        {{ form_widget(form.comment, {'attr': {'class': 'form-control', 'placeholder': 'Добавить сообщение', 'rows':1}}) }}
    </div>
</div>
<div class="form-group">
    <div class="col-sm-3">
        <button class="btn btn-primary" type="submit">Подать заявку</button>
    </div>
</div>

{{ form_rest(form) }}
{{ form_end(form) }}