{% import 'BinidiniWebBundle:Frontend/Macros:page.html.twig' as page %}

{% extends 'BinidiniWebBundle::layout.html.twig' %}

{% block pageheader %}Ближайшие заказы{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            отсортированы по мере удаления
            <a href="#" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Мы определили ваши координаты ({{ app.request.get('lon') |number_format(8) }}, {{ app.request.get('lat') | number_format(8) }}) и отсортировали заказы по мере удаления от места отправления." data-original-title="" title="" aria-describedby="popover982824">
                <i class="fa fa-question"></i>
            </a>
        </li>
    </ol>
{% endblock %}

{% block actions %}
    <a href="{{ path('binidini_core_shipping_new') }}" class="btn btn-primary">Новый заказ</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox float-e-margins">

                    <div class="ibox-title">
                        {% if shipments.nbresults > 0 %}
                            {{ page.paging(shipments) }}

                            <div class="ibox-tools">

                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    по {{ shipments.maxperpage() }} записей
                                </a>

                                {{ include('BinidiniWebBundle::Frontend/Shipping/inc/_paginate_filter.html.twig', {'path': 'binidini_search_shipment_nearest'}) }}

                            </div>
                        {% else %}заказов нет{% endif %}
                    </div>
                    <div class="ibox-content">

                        {% if shipments.nbresults > 0 %}

                            {{ include('BinidiniWebBundle::Frontend/Shipping/inc/_shippings_list.html.twig', {'shippings': shipments}) }}

                            <div class="row">
                                <div class="col-sm-6">
                                </div>

                                <div class="col-sm-6 text-right">
                                    {{ page.pagination(shipments) }}
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $(document).ready(function() {

            $('.contact-box').each(function() {
                animationHover(this, 'pulse');
            });

        });

    </script>
{% endblock %}