{% import 'BinidiniWebBundle:Frontend/Macros:page.html.twig' as page %}

{% extends 'BinidiniWebBundle::layout.html.twig' %}

{% block topsearch %}{% endblock %}
{% block pageheader %}Поиск заказа{% endblock %}

{% block actions %}
    <form role="search" class="" method="get" action="{{ path('binidini_search_shipment_search') }}">
        <div class="form-group">
            <div class="input-group">
                <input type="text" placeholder="Поиск заказа по адресу" class="form-control" name="top-search" id="top-search">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> </button>
                </span>
            </div>
            <span class="help-block m-b-none">Заказы отображаются по мере удаления от введенного адреса.</span>
        </div>
    </form>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox float-e-margins">

                    <div class="ibox-title">
                        {% if shipments.nbresults > 0 %}
                            {{ page.paging(shipments) }}

                            <div class="ibox-tools">

                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    по {{ shipments.maxperpage() }} записей
                                </a>

                                {{ include('BinidiniWebBundle::Frontend/Shipping/inc/_paginate_filter.html.twig', {'path': 'binidini_search_shipment_index'}) }}

                            </div>
                        {% else %}заказов нет{% endif %}
                    </div>
                    <div class="ibox-content">

                        {% if shipments.nbresults > 0 %}

                            {{ include('BinidiniWebBundle::Frontend/Shipping/inc/_shippings_list.html.twig', {'shippings': shipments}) }}

                            <div class="row">
                                <div class="col-sm-6">
                                </div>

                                <div class="col-sm-6 text-right">
                                    {{ page.pagination(shipments) }}
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $(document).ready(function() {

            $('.contact-box').each(function() {
                animationHover(this, 'pulse');
            });

        });

    </script>
{% endblock %}