{% import 'BinidiniWebBundle:Frontend/Macros:page.html.twig' as page %}

{% extends 'BinidiniWebBundle::layout.html.twig' %}

{% block pageheader %}Мои финансы{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        Счет: {{ app.user.balance | price}}
    </li>
    <li>
        Блокировано: {{ app.user.holdAmount | price }}
    </li>
</ol>
{% endblock %}
{% block actions %}
    <a class="btn btn-primary"  data-toggle="modal" data-target="#depositModal">Пополнить</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox float-e-margins">

                    <div class="ibox-title">
                        {% if payments.nbresults > 0 %}
                            Платежи {{ page.paging(payments) }}

                            <div class="ibox-tools">

                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    по {{ payments.maxperpage() }} записей
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="{{ path('binidini_core_payment_index', {'paginate': 10} ) }}">по
                                            10 записей</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('binidini_core_payment_index', {'paginate': 25} ) }}">по
                                            25 записей</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('binidini_core_payment_index', {'paginate': 50} ) }}">по
                                            50 записей</a>
                                    </li>

                                    <li>
                                        <a href="{{ path('binidini_core_payment_index', {'paginate': 100} ) }}">по
                                            100 записей</a>
                                    </li>
                                </ul>

                            </div>
                        {% else %}платежей нет{% endif %}
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                {{ page.pagination(payments) }}
                            </div>
                        </div>

                        {% if payments.nbresults > 0 %}
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Тип</th>
                                        <th>Детализация</th>
                                        <th>Дата</th>
                                        <th class="text-right">Cумма</th>
                                        <th>&nbsp;</th>
                                        <th class="text-right">Баланс</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for payment in payments %}
                                        <tr>
                                            <td>{{ payment.id }}</td>
                                            <td>{{ payment.type | trans}}</td>
                                            <td>{{ payment.details }}</td>
                                            <td>{{ payment.createdAt | date('d.m.y H:i') }}</td>
                                            <td>
                                                <span class="pull-right">
                                                    {{ payment.amount | price }}
                                                </span>
                                            </td>
                                            <td>
                                                {% if (payment.state == 'completed' and payment.type == 'deposit') %}
                                                    <button class="btn btn-xs btn-primary"   data-href="{{ path('binidini_core_payment_refund', {'order_id': payment.ref} ) }}" data-toggle="modal" data-target="#returnModal">Вернуть на карту</button>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <span class="pull-right">
                                                    {{ payment.balance | price }}
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                </div>

                                <div class="col-sm-6 text-right">
                                    {{ page.pagination(payments) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal" id="depositModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <form action="{{ path('binidini_core_payment_new') }}" method="POST" class="form-horizontal" id="deposit">
                <div class="modal-content animated flipInY">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Закрыть</span>
                        </button>
                        <h4 class="modal-title">Пополнение счета</h4>

                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Сумма:</label>

                            <div class="col-sm-4">
                                <input type="number" min="100" step="1" class="form-control" name="amount" placeholder="руб"/>
                            </div>

                            <div class="col-sm-4">

                            </div>
                        </div>
                        <p>
                            Если у Вас возникли вопросы по порядку пополнения счета, мы будем рады ответить на Ваши вопросы по телефону <b>+7 (952) 246-23-08</b>
                            или адресу электронной почты: <a href="mailto:info@tytymyty.ru">info@tytymyty.ru</a>
                        </p>
                    </div>
                    <div class="modal-footer ">
                        <a class="pull-left" href="{{ path('binidini_rules_appendix_3')~'#1' }}" target="_blank">Правила Титимити</a>
                        <button type="button" class="btn btn-white" data-dismiss="modal">Отменить</button>
                        <input type="submit" class="btn btn-primary" value="Пополнить счет"/>
                    </div>

                </div>
            </form>

        </div>
    </div>

    <div class="modal inmodal" id="returnModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Возврат на карту</h4>
                    <small class="font-bold">Эквайринговый центр взимает комиссию 3.5%.</small>
                </div>
                <div class="modal-body">
                    <p>
                        <strong>Подтвердите, что Вы хотите вернуть деньги на карту.</strong> Обращаем внимание, что эквайринговый центр
                        взимает комиссию <strong>3.5%</strong>. Вам на карту должна поступить сумма за вычетом комиссии.
                        Всвязи с этим, мы рекомендуем оптимизировать количество пополнений и возвратов.
                    </p>
                    <p>
                        Если у Вас возникли вопросы по порядку возврата, мы будем рады ответить на Ваши вопросы по телефону <b>+7 (952) 246-23-08</b>
                        или адресу электронной почты: <a href="mailto:info@tytymyty.ru">info@tytymyty.ru</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="pull-left" href="{{ path('binidini_rules_appendix_3')~'#1' }}" target="_blank">Правила Титимити</a>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Отменить</button>
                    <a class="btn btn-primary btn-ok">Подтвердить</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('#returnModal').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>

{% endblock %}