<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Титимити - p2p сервис доставки
        {% endblock %}
    </title>

    {% block stylesheets %}
        <link href="{{ asset('bundles/binidiniweb/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/binidiniweb/css/style.css') }}" rel="stylesheet">
    {% endblock %}

</head>

<body class="gray-bg">

{% block content %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/binidiniweb/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/binidiniweb/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>

</html>
