<div class="feed-activity-list">
    {% for review in reviews %}
        {% set profile = path('binidini_core_profile_show', {id: review.user.id}) %}
        <div class="feed-element">
            <a href="#" class="pull-left">
                <img alt="image" class="img-circle"
                     src="{{ asset('bundles/binidiniweb/img/logo202x202.png') }}">
            </a>

            <div class="media-body ">
                <small class="pull-right">{{ review.createdAt | timeago }}</small>
                <a href="{{ profile }}"><strong>{{ review.user.name }}</strong></a> оставил отзыв. <span
                        id="raty-{{ review.id }}"></span><br>
                <small class="text-muted">{{ review.createdAt | localizeddate('long', 'none', null, null, 'd MMMM в H:mm') }}</small>
                <div class="well">
                    {{ review.text | nl2br }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-sm-12">
            <h3 class="text-center">
                По заказу сообщений ннннет
            </h3>
        </div>
    {% endfor %}
</div>

<script type="text/javascript">
    function ratyInitialize(){
        {% for review in reviews %}
        $('#raty-{{ review.id }}').raty({
            score:{{ review.rating }}
        });
        {% endfor %}
    }
</script>